[2019-03-13 18:05] nguyenvivi opened #410 "Uploaded document thumbnail and view capability"
This issue needs to be fixed for Scenario 2.

![image](https://user-images.githubusercontent.com/46028434/54303115-ac535a00-4598-11e9-811b-ec1e8659d067.png)

[2019-03-13 18:16] nguyenvivi opened #411 "Use of Previous button prevents user from going forward"
This is issue supports scenario 2.

1. User enters Attorney Information and selects "Next".
2. User then selects "Previous" to go back and adds missing required data (Bar Information)
3. System removed previously entered information.
4. User enters the information again.
3. User selects "Next" to move forward.
4.  System displays the error message as shown on the screenshot.
![image](https://user-

[2019-03-13 18:23] nguyenvivi commented on #406
We need this functionality to support Customer Outreach Scenario 2.

[2019-03-13 18:30] nguyenvivi opened #412 "Missing options for Name and Signature"
![image](https://user-images.githubusercontent.com/46028434/54304871-7a43f700-459c-11e9-9867-d573eee16fca.png)

[2019-03-13 18:35] JackieBabos commented on #412
@nguyenvivi What mark type of mark is this screenshot from? Thanks!

[2019-03-13 18:38] nguyenvivi commented on #228
![image](https://user-images.githubusercontent.com/46028434/54305368-8f6d5580-459d-11e9-8cd2-556eedecce20.png)

[2019-03-13 18:40] nguyenvivi commented on #410
Thumbnail and view capability above also needs to be implemented for the Mark section/Upload Name/Portrait/Signature Consent.

![image](https://user-images.githubusercontent.com/46028434/54305531-e07d4980-459d-11e9-9a94-63cca08c623f.png)

[2019-03-13 18:58] nguyenvivi opened #413 "1(b) filing basis only with multiple goods/services"
This is a high priority issue.  We need this functionality for Scenario 2.

Select 1(a) and 1(b) filing basis:
![image](https://user-images.githubusercontent.com/46028434/54306215-43231500-459f-11e9-8a1a-f17dcc6ee323.png)

User should be able to select 1(b) filing only by answering "No" as shown below.  Currently the system prevents the user from selecting "No" all the way through.

![image](https

[2019-03-13 19:05] nguyenvivi opened #414 "Missing General Partner Information"
Link to Issue #241
![image](https://user-images.githubusercontent.com/46028434/54307174-6058e300-45a1-11e9-809c-71fb4db7194f.png)

[2019-03-13 19:09] nguyenvivi commented on #412
This does not tie to the Mark Type.  This is the issue related to the Mark Section, Upload Consent capability.

[2019-03-13 19:11] nguyenvivi commented on #401
You are correct.  That is the right link.  Thank you!

[2019-03-13 22:00] l-stanny commented on #157
@serra-trinh @dutchTender This issue has been resolved locally and pushed to GitHub 03/13/2019.

[2019-03-13 22:10] l-stanny commented on #401
@serra-trinh @dutchTender This issue has been resolved locally and pushed to GitHub 03/13/2019.

[2019-03-13 22:11] l-stanny commented on #157
@serra-trinh @dutchTender This issue has been resolved locally and pushed to GitHub 03/13/2019.

[2019-03-14 13:11] dutchTender commented on #414
let us gather requirements on what information is needed to output for partners. do we simply just list out each partner? what should the labels be?

[2019-03-14 18:17] l-stanny commented on #391
@serra-trinh This issue has been implemented locally and pushed to GitHub

[2019-03-14 21:08] l-stanny commented on #381
@JackieBabos @dutchTender @serra-trinh This has been completed locally and will be in the next GitHub push
![Screen Shot 2019-03-14 at 5 06 33 PM](https://user-images.githubusercontent.com/8275852/54391615-c0bc5300-467b-11e9-9b35-c0a5173f6add.png)

[2019-03-14 21:39] l-stanny commented on #210
Client-side form validation being written per JB and LZ.

[2019-03-14 21:47] l-stanny commented on #194
@JackieBabos @serra-trinh @dutchTender This has been completed locally and will be included in the next GitHub push.
![Screen Shot 2019-03-14 at 5 45 13 PM](https://user-images.githubusercontent.com/8275852/54393664-18a98880-4681-11e9-97f1-657236a33b3d.png)

[2019-03-14 23:06] l-stanny commented on #376
@JackieBabos @serra-trinh @dutchTender This has been completed locally ad will be pushed to GitHub now

[2019-03-15 17:17] dutchTender opened #415 "add required to owner forms address country"

[2019-03-15 17:19] dutchTender opened #416 "look into issue where email was not required when uploading owner partnership"

[2019-03-15 21:53] l-stanny commented on #210
<img width="394" alt="Screen Shot 2019-03-15 at 5 43 21 PM" src="https://user-images.githubusercontent.com/8275852/54463953-38a57e80-474b-11e9-924f-d9cf872aa9a0.png">
<img width="397" alt="Screen Shot 2019-03-15 at 5 43 14 PM" src="https://user-images.githubusercontent.com/8275852/54463954-393e1500-474b-11e9-91d9-8f2740fbe20f.png">
<img width="391" alt="Screen Shot 2019-03-15 at 5 43 05 PM" src="h

[2019-03-18 00:20] dutchTender opened #417 "add alternative name for partners"

[2019-03-18 00:23] dutchTender commented on #416
found logic that  says if attorney selected for the filing, then owner email is not required.

owner email is required for edit functionality .... need to discuss this with the team

[2019-03-18 01:34] #417 closed

[2019-03-18 13:48] nguyenvivi opened #418 "Postal code is not required for Foreign Address"
![image](https://user-images.githubusercontent.com/46028434/54534539-f35b9980-4962-11e9-90d2-dbe5e6995a07.png)

[2019-03-18 14:07] nguyenvivi opened #419 "Remove country where legally incorporated for Foreign Entities"
![image](https://user-images.githubusercontent.com/46028434/54535693-72ea6800-4965-11e9-81b9-e1e1a36217a1.png)

[2019-03-18 14:09] nguyenvivi opened #420 "Select from Contacts does not work for Foreign Entity"
![image](https://user-images.githubusercontent.com/46028434/54535889-e7bda200-4965-11e9-9aed-499fe3b3c6a0.png)

[2019-03-18 14:11] JackieBabos commented on #388
@dutchTender Is this fixed yet?

[2019-03-18 14:13] nguyenvivi commented on #398
![image](https://user-images.githubusercontent.com/46028434/54536095-6dd9e880-4966-11e9-9be6-f9e9b0b0671e.png)

[2019-03-18 14:13] nguyenvivi opened #421 "Owner Edit Page does not capture previously entered information"
![image](https://user-images.githubusercontent.com/46028434/54536146-82b67c00-4966-11e9-89c9-e177871ebd9a.png)

[2019-03-18 14:19] nguyenvivi opened #422 "Owner Edit Page - State should be a text box"
![image](https://user-images.githubusercontent.com/46028434/54536512-3b7cbb00-4967-11e9-9d5e-c8b664a85126.png)

[2019-03-18 14:26] nguyenvivi opened #423 "State/Province/Territory is not required for Foreign Address"
![image](https://user-images.githubusercontent.com/46028434/54537067-3c621c80-4968-11e9-9bc2-e75d0fa90303.png)

[2019-03-18 14:27] JackieBabos commented on #414
@nguyenvivi what type of information would you like to be displayed for each partner?

[2019-03-18 14:30] nguyenvivi opened #424 "Missing "*" for required data fields on Owner Edit Page"
![image](https://user-images.githubusercontent.com/46028434/54537372-c01c0900-4968-11e9-8b97-306e5d2a0f51.png)

[2019-03-18 14:42] nguyenvivi opened #425 "Default selection for Trademark/Servicemark"
![image](https://user-images.githubusercontent.com/46028434/54538408-9368f100-496a-11e9-9d51-1e5ce1f65af7.png)

[2019-03-18 14:45] nguyenvivi opened #426 "Mark image not being displayed"
![image](https://user-images.githubusercontent.com/46028434/54538574-de830400-496a-11e9-98e5-8300e27a03e4.png)

[2019-03-18 14:57] nguyenvivi opened #427 "Mark Literal is TEAS Plus required for all marks with text"
![image](https://user-images.githubusercontent.com/46028434/54539487-9bc22b80-496c-11e9-87f0-590e59544828.png)

[2019-03-18 15:06] dutchTender commented on #424
ok

[2019-03-18 15:06] nguyenvivi opened #428 ""Return to application" does not work for Foreign Application."
![image](https://user-images.githubusercontent.com/46028434/54540147-d4aed000-496d-11e9-8079-816bdaf029dc.png)

[2019-03-18 15:09] dutchTender opened #429 "apply add additional parttern for owner partnership to limited partnership, trust, estate and joint venture"

[2019-03-18 15:10] nguyenvivi opened #430 "Foreign Registration renewal date is not required for TEAS Plus status"
![image](https://user-images.githubusercontent.com/46028434/54540391-50108180-496e-11e9-989c-13a83ba621be.png)

[2019-03-18 15:11] dutchTender commented on #429
1. limited partner ship

[2019-03-18 15:17] nguyenvivi opened #431 "Previously entered data is not retained/displayed"
![image](https://user-images.githubusercontent.com/46028434/54540917-37ed3200-496f-11e9-9f0b-685b6ff83ca0.png)

[2019-03-18 15:21] nguyenvivi commented on #332
Please note that this need to be fixed for Foreign Application as well.

[2019-03-18 15:35] nguyenvivi commented on #414
The following leading language should be displayed: “_______, a partnership organized under the laws of [state or country of organization], composed of ___________ (name, legal entity, and citizenship of individual partner; or name, legal entity, and state or country of incorporation or organization of juristic partner).”

For Scenario 2, the language should be as follow:
“Black Diamond Ski Shop,

[2019-03-18 16:42] dutchTender commented on #429
2. .trust and estate left

[2019-03-18 17:36] dutchTender commented on #427
i could swear this was required and i was asked to make this not required for stylized. I would need to go through the old issues

[2019-03-18 17:39] dutchTender commented on #431
@l-stanny this is fixed after i removed those two lines.
@nguyenvivi in the future, please also include specific steps of recreating this issue. this one is fine, but some time a screen shot does not tells me what was done to get to this point.

[2019-03-18 17:40] dutchTender commented on #431
@JackieBabos i think it is a good idea in the future, for some hard to understand issues, we should make a list and schedule a demo for the issue.

[2019-03-18 17:47] dutchTender commented on #430
removed reduced fee lablel for renewal date

![image](https://user-images.githubusercontent.com/7011252/54551344-4db92200-4984-11e9-8524-de76ab69b55a.png)

[2019-03-18 17:51] JackieBabos commented on #427
@dutchTender i think you were thinking of Design Only which doesn't need the flag, which was issue #380. So stylized and design with text need the reduced flags next to them.

[2019-03-18 18:01] nguyenvivi commented on #427
@dutchTender and @JackieBabos

Jackie, you are correct, for any design with text, the mark literal is required for TEAS Plus status.  "Stylize" has text, that's why we are asking for making this field as required data for TEAS Plus.  I know it's confusing.  Hope it makes sense now.

[2019-03-18 18:08] nguyenvivi commented on #431
@dutchTender - we will capture steps to help recreate the issue.

For this one in particular, we tried to complete the application supporting scenario 3, which is a foreign entity application.  When we got to the Review Page, the system informed us that we missed two required data fields in filing basis.  We selected "Return to application" to go back to the highlighted section.  Two issues occurr

[2019-03-18 18:33] JackieBabos commented on #391
@serra-trinh and I will review.

[2019-03-18 18:42] dutchTender commented on #422
@nguyenvivi @JackieBabos i am guessing this is for foreign entities only?

[2019-03-18 18:43] dutchTender commented on #421
@JackieBabos i was not able to reproduce this in the BA servers and our internal stage servers.

[2019-03-18 18:44] dutchTender commented on #421
@JackieBabos let me try foreign entity, this might be foreign

[2019-03-18 18:45] dutchTender commented on #420
I will look into this.

[2019-03-18 18:45] nguyenvivi commented on #422
@dutchTender - This is for everything, including foreign entities.

[2019-03-18 18:55] l-stanny commented on #408
@dutchTender @JackieBabos @serra-trinh Completed locally. Will upload to GitHub next push.
![Screen Shot 2019-03-18 at 2 55 00 PM](https://user-images.githubusercontent.com/8275852/54555812-d6888b80-498d-11e9-9914-87eabaa1cdb2.png)

[2019-03-18 19:04] nguyenvivi opened #432 "Update Mark Literal text"
![image](https://user-images.githubusercontent.com/46028434/54556250-d937b080-498e-11e9-8aa6-ee9e5c37c16b.png)

[2019-03-18 19:09] nguyenvivi opened #433 "Remove leading language for mark literal/standard character"
![image](https://user-images.githubusercontent.com/46028434/54556719-dc7f6c00-498f-11e9-8f0d-3061d49b36d2.png)

[2019-03-18 19:17] nguyenvivi commented on #404
![image](https://user-images.githubusercontent.com/46028434/54557164-e5247200-4990-11e9-9a2e-4aa57d1d43a0.png)

[2019-03-18 19:31] dutchTender commented on #431
@nguyenvivi  thanks vi, that was very helpful. i think this issue was an mistake by me when integrating front end java script code. there was some lines that was setting all check boxes and radio buttons to not checked on page load, which is not the behavior we wanted.

[2019-03-18 19:39] dutchTender opened #434 "use in another form section is shown by default additional info section"

[2019-03-18 19:43] dutchTender commented on #428
selected owner type foreign corporation.

and selected foreign registration but did not provide dates and and upload a certificate

![image](https://user-images.githubusercontent.com/7011252/54558618-92e55000-4994-11e9-94dd-7ffc5e58f868.png)

[2019-03-18 19:48] dutchTender commented on #428
![image](https://user-images.githubusercontent.com/7011252/54558918-3df60980-4995-11e9-95fd-f4d22344ee4d.png)

[2019-03-18 19:49] dutchTender commented on #428
hitting the return to application button takes me to the filing basis page, which is what is expected in this case as the missing TEAS files is filing basis registration info

![image](https://user-images.githubusercontent.com/7011252/54558982-5ebe5f00-4995-11e9-93ef-be630ce6b8c7.png)

[2019-03-18 19:51] dutchTender commented on #428
@nguyenvivi we may need steps from you to recreate the issue. I talked to Jackie and she is testing this too and get back to me.

[2019-03-18 19:53] nguyenvivi commented on #428
@dutchTender - we can walk you through the scenario tomorrow if you have time.

[2019-03-18 20:01] nguyenvivi commented on #428
@dutchTender - hitting the return to application button should take me back to the missing data fields, in this case is the foreign registration date, not the filing basis selection screen.

from Li's previous message:

[2019-03-18 20:02] dutchTender commented on #427
I have added the reduced fee label back just for mark type stylized.
![image](https://user-images.githubusercontent.com/7011252/54559799-40596300-4997-11e9-9c08-50e4f96deb70.png)

[2019-03-18 20:11] l-stanny commented on #388
@serra-trinh @JackieBabos : @dutchTender to send @l-stanny the files to work on

[2019-03-18 20:18] JackieBabos commented on #380
![image](https://user-images.githubusercontent.com/44168600/54560707-8f4bcc00-4988-11e9-8fe2-e1e958692bbd.png)
![image](https://user-images.githubusercontent.com/44168600/54560757-aab6d700-4988-11e9-87af-ed675cc66b4f.png)

[2019-03-18 20:24] dutchTender commented on #426
I will address this issue next

[2019-03-18 21:05] JackieBabos commented on #426
@dutchTender  Not sure if it matters but the mark image is shown on the attorney page

![image](https://user-images.githubusercontent.com/44168600/54563601-3a5f8400-498f-11e9-9942-48368126e440.png)

[2019-03-18 21:18] JackieBabos commented on #412
@nguyenvivi Is this for scenario 2? Which is a design only mark, only portrait would appear according to the TMRD.

![image](https://user-images.githubusercontent.com/44168600/54564200-c920d080-4990-11e9-8bf6-11e104f5da07.png)

[2019-03-18 21:28] JackieBabos commented on #421
@dutchTender I was able to recreate it. Let me know if we need to talk about this one.

From the creation page:
![image](https://user-images.githubusercontent.com/44168600/54564788-48fb6a80-4992-11e9-98d7-740b0f2336a6.png)

From the edit page:
![image](https://user-images.githubusercontent.com/44168600/54564802-557fc300-4992-11e9-95fe-7ae9b486b190.png)

[2019-03-19 15:23] dutchTender commented on #426
my idea was to have that there to be consistent with the ui layout, but will have it to shown blank or deactivated or something.

[2019-03-19 15:43] dutchTender commented on #426
like what happens when you revisit via bread crumbs ...so instead of having it show up later when you revisit, it is a bit easier to always have  it there, but only show the image when there is one, show a default image when mark isn't uploaded yet

[2019-03-19 16:32] dutchTender opened #435 "Mark image not displayed on bread crumb page revisit"

[2019-03-19 16:32] dutchTender opened #436 "standard characters mark not displayed after mark details page and on page revisits"

[2019-03-19 16:34] dutchTender commented on #425
![image](https://user-images.githubusercontent.com/7011252/54624206-4efd5400-4a43-11e9-997d-9d41ba50de6e.png)
check mark is set by default.    will update required fields.

[2019-03-19 16:44] dutchTender commented on #425
![image](https://user-images.githubusercontent.com/7011252/54624912-ad770200-4a44-11e9-93b8-98c964072791.png)
added requested info test

[2019-03-19 16:46] dutchTender commented on #428
@nguyenvivi understood, i thought you were getting an error. i am looking into updating this now.

[2019-03-19 18:21] dutchTender commented on #435
addressed in fix #426

[2019-03-19 18:21] dutchTender commented on #436
will be addressed as part of #426.

[2019-03-19 18:22] dutchTender commented on #426
still need to update other pages that has this defect.

goods and services, filing basis

[2019-03-19 18:47] nguyenvivi opened #437 "update 2(f) claim screen flow"
![image](https://user-images.githubusercontent.com/46028434/54632682-05b60000-4a55-11e9-9a64-0b71f8908b44.png)

![image](https://user-images.githubusercontent.com/46028434/54633104-d784f000-4a55-11e9-987e-83dd7070469e.png)

[2019-03-19 18:53] nguyenvivi opened #438 "Update User in Another Form screen flow"
![image](https://user-images.githubusercontent.com/46028434/54633507-afe25780-4a56-11e9-8f93-3a5333e8826f.png)

[2019-03-19 18:58] nguyenvivi opened #439 "Citizenship should not be displayed in the Review page for LLC entity type"
![image](https://user-images.githubusercontent.com/46028434/54633863-66463c80-4a57-11e9-8186-66c6c6cce3de.png)

[2019-03-19 21:10] dutchTender commented on #424
@nguyenvivi would we be required to block user from try to save empty text?

[2019-03-19 21:49] dutchTender commented on #432
![image](https://user-images.githubusercontent.com/7011252/54644258-576b8400-4a6f-11e9-89df-0f5c09423242.png)

[2019-03-19 21:52] dutchTender commented on #423
![image](https://user-images.githubusercontent.com/7011252/54644470-bfba6580-4a6f-11e9-9612-c161d241c2a2.png)
state province no longer required for foreign entities.

[2019-03-19 21:56] dutchTender commented on #421
oh, i see, foreign info edit. let me look into this

[2019-03-19 22:03] dutchTender commented on #421
@nguyenvivi one of the problems here is that we were asked to make the entity type name for foreign corporation to 'corporation' just like domestic corporation. we load the edit forms based on types.
for this to work, we would need to design a new scheme to differentiate between entity types.

[2019-03-20 13:24] dutchTender commented on #418
postal code is no longer required for foreign entity

![image](https://user-images.githubusercontent.com/7011252/54687444-f5079780-4af1-11e9-8c33-ca2d4ae21310.png)

[2019-03-20 14:07] nguyenvivi commented on #424
@dutchTender - User should not be able to save the form if they miss the required data field.  It should carry the same validation checks as the original form.  Hope this makes sense.

[2019-03-20 14:10] dutchTender commented on #421
@nguyenvivi we were able to design a work around for this issue. we are using a special variable to track this field, and will dispaly country or state based on foreign or u.s for corporation owner types.

![image](https://user-images.githubusercontent.com/7011252/54690699-56cb0000-4af8-11e9-99e8-7fbfed712bac.png)

[2019-03-20 14:11] l-stanny commented on #389
@serra-trinh @JackieBabos completed locally, pushed to GitHub

[2019-03-20 14:12] l-stanny commented on #390
@serra-trinh @JackieBabos completed locally, pushed to GitHub

[2019-03-20 14:14] dutchTender commented on #431
@nguyenvivi we will leave this open. as the issue you are describing might be caused by another issue that was fixed in the last update. i was able to ran through your scenarios in the latest build with out any issues. but i might be missing a step. please test out this issue again when v.1.0.3 is deployed on thursday

[2019-03-20 15:19] JackieBabos commented on #412
Holding off for now.

[2019-03-20 15:27] dutchTender commented on #431
@nguyenvivi after looking into this issue more, this is a legitmate issue. we found that for concurrent use, after TTAB number field, there is no implementation after that. and no implementation for use in another form. those are the two components that needs to be build out

[2019-03-20 15:31] JackieBabos commented on #416
Will discuss at 3/21 demo.

[2019-03-20 15:31] dutchTender commented on #422
making this update now. will need to update this for owner edit as well. a slight more complex here cause its foreign corporation

[2019-03-20 15:33] dutchTender commented on #422
@nguyenvivi never mind. this is for every thing. less complex, but a good amount of upates as we have a few of these owner edit forms and import forms.

[2019-03-20 17:33] dutchTender commented on #332
@nguyenvivi how does this look?

![image](https://user-images.githubusercontent.com/7011252/54706236-c51dbb80-4b14-11e9-9d0b-aba0905522bb.png)

[2019-03-20 17:47] dutchTender commented on #407
![image](https://user-images.githubusercontent.com/7011252/54707037-a0c2de80-4b16-11e9-8b02-f3fe112dc183.png)
added logic to only display color claim if user selected color claim. for b&w, no color claim info is output to screen.

![image](https://user-images.githubusercontent.com/7011252/54707107-b7693580-4b16-11e9-9a4a-f35a42cc71b9.png)

[2019-03-20 18:01] l-stanny commented on #414
@dutchTender @serra-trinh @JackieBabos This page has been updated, pushed to GitHub and uses arrays locally to render the variable content

[2019-03-20 18:06] dutchTender commented on #391
@JackieBabos just thinking about this issue. if both in use(1a), and not in 1(b) use allow you to upload specimen at the class level and at the goods and services level ....then how are they different ???

[2019-03-20 18:50] l-stanny commented on #388
![Screen Shot 2019-03-20 at 2 47 40 PM](https://user-images.githubusercontent.com/8275852/54711009-4aa66900-4b1f-11e9-9d6b-87dbc49be6c0.png)
![Screen Shot 2019-03-20 at 2 47 31 PM](https://user-images.githubusercontent.com/8275852/54711011-4b3eff80-4b1f-11e9-8536-2dda855a9908.png)
@JackieBabos @JackieBabos @serra-trinh Pushing this to Github (marks_stylized.html, marks_designonly.html, marks_desig

[2019-03-21 00:53] l-stanny commented on #210
Implemented in Owner - Individual, locally
![Screen Shot 2019-03-20 at 8 51 42 PM](https://user-images.githubusercontent.com/8275852/54728096-0aaca980-4b52-11e9-99fe-f1313b057fee.png)
, removed outline border from inputs. Pushed files to GitHub.

[2019-03-21 06:06] dutchTender commented on #414
@JackieBabos let us show lynn's static files to the client and see if that is what they have in mind.

[2019-03-21 06:59] dutchTender commented on #414
in progress

[2019-03-21 14:25] dutchTender commented on #414
![image](https://user-images.githubusercontent.com/7011252/54758983-94488f80-4bc3-11e9-8423-d1dfb787c540.png)

[2019-03-21 15:17] JackieBabos commented on #425
Move text above the tile.

[2019-03-21 15:20] JackieBabos commented on #427
Remove the red asterisk for mark literal, relocate the "i" on the last text of mark literal.

[2019-03-21 15:35] JackieBabos commented on #414
State where legally organized - replace with citizenship when it is partnership.

[2019-03-21 16:24] dutchTender commented on #427
![image](https://user-images.githubusercontent.com/7011252/54767754-3d978180-4bd4-11e9-964e-97b37deb41a0.png)

[2019-03-21 16:26] dutchTender commented on #414
![image](https://user-images.githubusercontent.com/7011252/54767947-9a933780-4bd4-11e9-8aa5-d7c329dda1cd.png)

[2019-03-21 16:27] dutchTender commented on #414
![image](https://user-images.githubusercontent.com/7011252/54767998-ae3e9e00-4bd4-11e9-9fcb-f1d27c32aca9.png)

[2019-03-21 16:35] dutchTender commented on #425
![image](https://user-images.githubusercontent.com/7011252/54768590-dc70ad80-4bd5-11e9-8ecc-6a6fee1a1a11.png)

[2019-03-21 17:43] JackieBabos opened #440 "Foreign Application Number being flagged by reduced even when it is filled out."
Will post a screenshots later.

[2019-03-21 17:53] JackieBabos commented on #440
![image](https://user-images.githubusercontent.com/44168600/54773778-df689f80-4bcf-11e9-95d8-caec4b5825b1.png)

then when i click return to application, it saves the application number

![image](https://user-images.githubusercontent.com/44168600/54773810-f27b6f80-4bcf-11e9-84de-4651d12cb71c.png)

[2019-03-21 18:07] nguyenvivi opened #441 "Update label to General Partner Name"
![image](https://user-images.githubusercontent.com/46028434/54774650-9b32ca80-4be2-11e9-8f10-ae13bb43370a.png)

[2019-03-21 18:27] #406 closed

[2019-03-21 18:29] #402 closed

[2019-03-21 18:31] #400 closed

[2019-03-21 18:39] #399 closed

[2019-03-21 18:46] nguyenvivi commented on #395
@dutchTender , @JackieBabos
Sorry for the confusion, what was needed to be conveyed is that "State where legally organized" is required for all Entity Types for TEAS PLUS status only.  So what need to be added here is not the red "*" but the "Reduced Fee" label.

[2019-03-21 18:50] nguyenvivi commented on #394
![image](https://user-images.githubusercontent.com/46028434/54777435-ae489900-4be8-11e9-90a8-b16baef9bfa6.png)

[2019-03-21 18:52] nguyenvivi commented on #394
![image](https://user-images.githubusercontent.com/46028434/54777573-f5368e80-4be8-11e9-9c44-64e821d54447.png)

[2019-03-21 19:07] #393 closed

[2019-03-21 19:08] #383 closed

[2019-03-21 19:18] nguyenvivi commented on #380
![image](https://user-images.githubusercontent.com/46028434/54779040-996e0480-4bec-11e9-931e-078b8cff7742.png)

[2019-03-21 19:24] #373 closed

[2019-03-22 20:14] l-stanny commented on #282
removed asterisk @JackieBabos @serra-trinh this is in GitHub ready for integration

[2019-03-22 20:24] l-stanny commented on #271
@dutchTender This is indicated as having been completed in local file *filing_basis_abde.html*. Check 3/15/19 commit.
![Screen Shot 2019-03-22 at 4 21 15 PM](https://user-images.githubusercontent.com/8275852/54850928-d5719a00-4cbe-11e9-9a7e-5d64423b921c.png)

[2019-03-22 21:06] l-stanny commented on #432
@serra-trinh @JackieBabos This edit has been completed in local file *marks_design_with_text_uploaded_M5.html* and will be in the next GitHub push.

[2019-03-22 22:26] l-stanny commented on #433
@JackieBabos @serra-trinh This page has been updated locally and will be in the next GitHub push.
![Screen Shot 2019-03-22 at 6 25 28 PM](https://user-images.githubusercontent.com/8275852/54856273-00181e80-4cd0-11e9-95f0-a1c201d77441.png)

[2019-03-22 22:51] l-stanny commented on #427
@JackieBabos @serra-trinh Local files uploaded and pushing to GitHub
![Screen Shot 2019-03-22 at 6 50 47 PM](https://user-images.githubusercontent.com/8275852/54857012-88e48980-4cd3-11e9-84d8-73dacb1a0e1d.png)
![Screen Shot 2019-03-22 at 6 50 15 PM](https://user-images.githubusercontent.com/8275852/54857013-897d2000-4cd3-11e9-93ec-4c285c910311.png)
![Screen Shot 2019-03-22 at 6 49 45 PM](https://u

[2019-03-22 23:17] l-stanny commented on #413
@dutchTender @JackieBabos @serra-trinh This functionality was built into *filing_basis_ab.html*. GitHub push "#389 + #390" (both) 3/20/2019.
![Screen Shot 2019-03-22 at 7 13 59 PM](https://user-images.githubusercontent.com/8275852/54857700-1c6b8980-4cd7-11e9-9f45-b0791e4b81f7.png)

[2019-03-22 23:31] l-stanny commented on #425
![Screen Shot 2019-03-22 at 7 27 59 PM](https://user-images.githubusercontent.com/8275852/54857992-b54ed480-4cd8-11e9-8e00-bdafbd2f81b8.png)
@JackieBabos @serra-trinh Updated and pushed to GitHub.

[2019-03-23 00:11] l-stanny commented on #419
@dutchTender @JackieBabos @serra-trinh Edited in local files: *import_corp.html* + *owner_info_M1.html* (import corp loads into owner info, written as a jQuery include. For demonstration: user selects Foreign Entity > selects Bahamas > select Corporation.
![Screen Shot 2019-03-22 at 8 03 46 PM](https://user-images.githubusercontent.com/8275852/54858982-a2d79980-4cde-11e9-9644-e4fb137e0ba0.png)

[2019-03-23 00:40] l-stanny commented on #423
@dutchTender @JackieBabos @serra-trinh Edited in local files: import_corp.html + owner_info_M1.html (import corp loads into owner info, written as a jQuery include. For demonstration: user selects Foreign Entity > selects Bahamas > select Corporation.
![Screen Shot 2019-03-22 at 8 37 42 PM](https://user-images.githubusercontent.com/8275852/54859380-c43a8480-4ce2-11e9-990e-17d4641dede8.png)

[2019-03-23 00:53] l-stanny commented on #418
![Screen Shot 2019-03-22 at 8 52 07 PM](https://user-images.githubusercontent.com/8275852/54859509-6444dd80-4ce4-11e9-8bb9-94ac7e9665ed.png)
@JackieBabos @serra-trinh @dutchTender Edited in local files: Select Foreign Entity > Select Bahamas > Select Corporation, *import_corp.html* + *owner_info_M1.html*

[2019-03-23 00:59] l-stanny commented on #412
The local file has this in Design Only (file *marks_designonly.html*):
![Screen Shot 2019-03-22 at 8 58 07 PM](https://user-images.githubusercontent.com/8275852/54859585-4a57ca80-4ce5-11e9-9ca6-cf91dc5c9eb7.png)

[2019-03-23 01:03] l-stanny commented on #410
![Screen Shot 2019-03-05 at 6 33 32 PM](https://user-images.githubusercontent.com/8275852/54859623-d4a02e80-4ce5-11e9-8ea5-0a50b9a2e0b1.png)
Local files updated 3/5/2019

[2019-03-23 01:19] l-stanny commented on #404
@dutchTender, for reference:
Local file *additional_information.html* user state 1:
![Screen Shot 2019-03-22 at 9 12 52 PM](https://user-images.githubusercontent.com/8275852/54859740-5b094000-4ce7-11e9-9059-b2d12a508288.png)
Local file *additional_information.html* user state 2:
![Screen Shot 2019-03-22 at 9 13 58 PM](https://user-images.githubusercontent.com/8275852/54859750-6fe5d380-4ce7-11e9-98

[2019-03-23 01:27] l-stanny commented on #391
@dutchTender @serra-trinh @JackieBabos Originally committed from local files in filename *filing_basis_abde.html* (original dev 1/19/19, additional updates to application style followed)
![Screen Shot 2019-03-22 at 9 21 33 PM](https://user-images.githubusercontent.com/8275852/54859869-acfe9580-4ce8-11e9-98f6-36b4255c5b9a.png)
Additional (current) functionality is in filename *filing_basis_ab.html*

[2019-03-23 01:32] l-stanny commented on #380
@dutchTender @serra-trinh @JackieBabos Current local file status of Design Only as in GitHub:
![Screen Shot 2019-03-22 at 9 31 03 PM](https://user-images.githubusercontent.com/8275852/54859975-f13e6580-4ce9-11e9-88eb-39ac60e7a323.png)

[2019-03-25 13:55] nguyenvivi opened #442 "TEAS Plus status for Attorney Affiliation Information"
![image](https://user-images.githubusercontent.com/46028434/54925073-f6670480-4ee3-11e9-9df8-5e7c9ec2e999.png)

[2019-03-25 14:00] #432 closed

[2019-03-25 14:05] #430 closed

[2019-03-25 14:13] #428 closed

[2019-03-25 14:26] #426 closed

[2019-03-25 14:30] #425 closed

[2019-03-25 14:31] #423 closed

[2019-03-25 14:34] #421 closed

[2019-03-25 14:35] #418 closed

[2019-03-25 14:54] nguyenvivi commented on #414
The following leading language should be displayed: “_______, a partnership organized under the laws of [state or country of organization], composed of ___________ (name, legal entity, and citizenship of individual partner; or name, legal entity, and state or country of incorporation or organization of juristic partner).”

Currently, it works for Scenario 2.  However, the text is not dynamically g

[2019-03-25 15:01] dutchTender commented on #442
![image](https://user-images.githubusercontent.com/7011252/54930230-4bf3df00-4eed-11e9-9b31-8490feb7a196.png)

added labels ...still need to add validation back end logic for application review module

[2019-03-25 15:01] nguyenvivi commented on #409
Based on the new General Counsel rule, the Attorney Bar Information is no longer a system required field.  This will be a required field for TEAS Plus status.  Please see GITHUB issue #442 for further details.

[2019-03-25 15:03] #407 closed

[2019-03-25 15:05] nguyenvivi commented on #394
This issue has not been resolved in version 1.0.3.

[2019-03-25 15:08] dutchTender commented on #442
@nguyenvivi a few things there. are these information TEAS plus required for the primary attorney or all attorneys added to the application.

[2019-03-25 15:10] #332 closed

[2019-03-25 15:11] nguyenvivi commented on #442
@dutchTender these are for TEAS Plus status and for primary attorney.

[2019-03-25 15:31] dutchTender commented on #442
@nguyenvivi got it

[2019-03-25 16:03] dutchTender commented on #441
![image](https://user-images.githubusercontent.com/7011252/54935064-f07a1f00-4ef5-11e9-84b4-439bf92ac606.png)

[2019-03-25 16:04] dutchTender commented on #441
@nguyenvivi what should the label name for "owner name" changed for trust, llp and estate. i am guessing it should not say "General partners"

[2019-03-25 17:39] dutchTender commented on #389
this is turning out to be even more difficult then i imagined.
i thought we could call the click on the goods and services level and trigger the save options and reveal and hide logic for the goods and services
but that is not the case, when user click at the class level
i can not just call the buttons on the goods and services level and call click on it
and have it trigger auto save and hide and

[2019-03-25 19:31] dutchTender commented on #439
![image](https://user-images.githubusercontent.com/7011252/54948407-f2061000-4f12-11e9-8bd9-2610dc7bc09f.png)
we updated this for all owner types that are not humans.

[2019-03-25 19:39] dutchTender commented on #433
![image](https://user-images.githubusercontent.com/7011252/54948879-19111180-4f14-11e9-977f-259319c6e5e4.png)
application updated.

[2019-03-25 20:06] dutchTender commented on #388
let me update this. i have not gotten to this one yet

[2019-03-25 20:52] dutchTender commented on #388
![image](https://user-images.githubusercontent.com/7011252/54953303-4cf13480-4f1e-11e9-970a-8a894a712202.png)

[2019-03-25 20:55] JackieBabos commented on #435
Due to the BA's closing issue #426 - I am closing this issue.

[2019-03-25 20:55] #435 closed

[2019-03-25 20:56] JackieBabos commented on #436
Due to the BA's closing issue #426 - I am closing this issue.

[2019-03-25 20:56] #436 closed

[2019-03-25 20:57] dutchTender commented on #388
updated this for stylized, design only and design with text mark types

[2019-03-25 21:14] JackieBabos commented on #412
"For purposes of the prototype, I think we can keep it restricted by Mark type according to the TM-RD.  My thought is, if it isn’t applicable to the selected mark type, why give the user the option, and potentially get unwanted information. "

Closing this issue due to no longer being relevant.

[2019-03-25 21:19] #412 closed

[2019-03-25 21:45] #374 closed

[2019-03-25 21:45] JackieBabos commented on #374
This has been completed.

[2019-03-25 21:51] JackieBabos commented on #425
Related to issue #282

[2019-03-25 21:52] JackieBabos commented on #282
Closing this issue due to the fact this is the same issue as #425 and that was closed.

[2019-03-25 21:52] #282 closed

[2019-03-26 14:37] dutchTender commented on #408
![image](https://user-images.githubusercontent.com/7011252/55005833-1a454b80-4fb3-11e9-895f-cd4437f84516.png)

[2019-03-26 14:57] nguyenvivi opened #443 "Provide informational text for Owner of mark"
![image](https://user-images.githubusercontent.com/46028434/55007473-dacc2e80-4fb5-11e9-8bfb-af28b65944de.png)

[2019-03-26 15:13] nguyenvivi opened #444 "Add informational text for Alternate Name"
![image](https://user-images.githubusercontent.com/46028434/55008857-07814580-4fb8-11e9-88e2-9c732482908a.png)

[2019-03-26 15:36] nguyenvivi commented on #422
Based on SME comments, we need to update the prototype as follows:
1.  If it's U.S. entity, the State data field should be displayed as a drop down list and it should be populated with U.S. States.
2.  If it's a Foreign entity, the State data field should be displayed as a text field.
3. The behaviors should be the same for the Owner Page and Owner Edit Page.

[2019-03-26 16:02] JackieBabos commented on #228
@nguyenvivi For this one would you just like for us to switch out the document from 'name" to "portrait or likeness" for the scenario high priority, or would you like us to spend the time trying to figure out how to dynamically change the templates for the user? If you just want to have us switch out the documents, we can create another issue for the enhancement of dynamically changing the word do

[2019-03-26 16:35] JackieBabos commented on #152
@keytie @nguyenvivi

We currently don't have arrows, just clicking on the title ascends and descends the column. Please let me know if you would like to have arrows added. Thanks!

[2019-03-26 16:45] JackieBabos commented on #177
![image](https://user-images.githubusercontent.com/44168600/55016377-3e555c80-4fb4-11e9-8340-f10a2ed5f43e.png)
![image](https://user-images.githubusercontent.com/44168600/55016395-47dec480-4fb4-11e9-9dee-4c0a52235786.png)

[2019-03-26 16:57] JackieBabos commented on #189
![image](https://user-images.githubusercontent.com/44168600/55017257-f800fd00-4fb5-11e9-9b95-b209efa264c9.png)

[2019-03-26 17:10] nguyenvivi commented on #228
Yes, please go with "portrait or likeness" for now.  Please add another issue to cover the enhancement of dynamically changing the word document later.  Thanks!

[2019-03-26 17:12] nguyenvivi commented on #152
what is the industry standard for this behavior?  we would like to have at least some indicator to let the user know that they can sort by clicking on the header.

[2019-03-26 17:13] nguyenvivi commented on #152
Please use USPTO design library for this behavior if possible.  Thanks!

[2019-03-26 17:13] nguyenvivi commented on #189
We can close this issue.

[2019-03-26 17:13] #189 closed

[2019-03-26 17:25] nguyenvivi opened #445 "Update text for Translation and Transliteration"
![image](https://user-images.githubusercontent.com/46028434/55018802-f6413480-4fc9-11e9-95eb-63e567c1c961.png)
![image](https://user-images.githubusercontent.com/46028434/55019045-841d1f80-4fca-11e9-90a9-9c44f73b7233.png)

[2019-03-26 17:32] nguyenvivi commented on #445
![image](https://user-images.githubusercontent.com/46028434/55019606-9e0b3200-4fcb-11e9-9b38-9b0d40b2e3a0.png)

[2019-03-26 17:59] nguyenvivi opened #446 "Update informational text to Name/Portrait/Signature"
![image](https://user-images.githubusercontent.com/46028434/55021518-41117b00-4fcf-11e9-811e-87cc4eecd86b.png)

[2019-03-27 14:17] JackieBabos opened #447 "Dynamic Consent Template"
"If the system could be dynamic enough to where the template would be populated with the right language based on how the user answers the name/portrait/consent section of the application. That way, only one template would be needed as opposed to three." - Al

[2019-03-27 14:18] JackieBabos commented on #228
Split this issue, and created issue #447 for the dynamic loading consent template.

All to be done with this issue now is to change the document we have in the prototype with the attached document.
[Consent_template_Portrait.docx](https://github.com/GrantThorntonETSI/eFile_Reimagined/files/3013582/Consent_template_Portrait.docx)

[2019-03-27 18:35] JackieBabos commented on #442
@dutchTender need to remove the asterisk next to "Attorney Bar Info"

[2019-03-27 19:04] l-stanny commented on #446
@serra-trinh @JackieBabos completed locally

[2019-03-27 20:13] l-stanny commented on #443
@serra-trinh @JackieBabos this has been completed locally and the files pushed to GitHub.

[2019-03-27 20:13] l-stanny commented on #445
@serra-trinh @JackieBabos this has been completed locally and the files pushed to GitHub.

[2019-03-27 20:35] dutchTender commented on #410
@nguyenvivi a few points here.
1. this upload is for a image of the bar certificate, so it is meant for an image and not a pdf or word document.
2. because this is creating a new attorney, the upload is part of the form upload to create the new attorney, so uploaded certificate images can be seen at two places.
  I will post screen shot of the two places below

[2019-03-27 20:35] dutchTender commented on #410
on the attorney edit page

![image](https://user-images.githubusercontent.com/7011252/55110389-4e516700-50ae-11e9-86b9-3b203ad8023e.png)

[2019-03-27 20:35] dutchTender commented on #410
on the attorney review page, by expanding the attorney details.

![image](https://user-images.githubusercontent.com/7011252/55110420-5f01dd00-50ae-11e9-8437-1155dcf32622.png)

[2019-03-27 20:57] dutchTender commented on #420
![image](https://user-images.githubusercontent.com/7011252/55111708-64acf200-50b1-11e9-8c8a-40b67c1c2bb8.png)

still need to add auto fill functionality

[2019-03-27 21:24] dutchTender commented on #419
![image](https://user-images.githubusercontent.com/7011252/55113318-29acbd80-50b5-11e9-88d5-cc6973f9291f.png)

[2019-03-27 21:25] dutchTender commented on #419
on owner edit: you will still see this value:

![image](https://user-images.githubusercontent.com/7011252/55113346-40ebab00-50b5-11e9-83b9-9d5e9424226c.png)

[2019-03-27 21:38] JackieBabos opened #448 "Add Petitions wire frame to prototype"
Incorporate the Petition to Revive concept/screen flow from UXPIN into our current Reimagine eFile Prototype.

https://preview.uxpin.com/646c2ecbcfb400369217dd7cdd69a4ab19148f3f#/pages/96124717/simulate/sitemap?mode=i

[2019-03-27 22:00] #403 closed

[2019-03-27 22:00] #212 closed

[2019-03-28 01:11] l-stanny commented on #152
@JackieBabos @serra-trinh local files have been updated and pushed to GitHub for integration
![Screen Shot 2019-03-27 at 9 09 23 PM](https://user-images.githubusercontent.com/8275852/55122305-d5193a80-50d4-11e9-8c5a-364353f28764.png)
![Screen Shot 2019-03-27 at 9 08 44 PM](https://user-images.githubusercontent.com/8275852/55122307-d5b1d100-50d4-11e9-9017-405d0a6f2725.png)
![Uploading Screen Shot 2

[2019-03-29 14:06] dutchTender commented on #419
![image](https://user-images.githubusercontent.com/7011252/55238225-558d8780-520a-11e9-9fd4-40d4e3c3137c.png)

[2019-03-29 18:38] dutchTender commented on #389
![image](https://user-images.githubusercontent.com/7011252/55255156-4ae5e900-5230-11e9-81f5-a105548c5676.png)

[2019-03-29 18:39] dutchTender commented on #419
![image](https://user-images.githubusercontent.com/7011252/55255231-77016a00-5230-11e9-9fd7-119a9a605112.png)

[2019-03-29 18:55] dutchTender commented on #446
![image](https://user-images.githubusercontent.com/7011252/55256149-c052b900-5232-11e9-94c5-2e9458c5d238.png)

[2019-03-29 19:11] dutchTender commented on #445
![image](https://user-images.githubusercontent.com/7011252/55256959-df524a80-5234-11e9-9aff-7c8fb9857e47.png)

[2019-03-29 19:28] dutchTender commented on #413
![image](https://user-images.githubusercontent.com/7011252/55257752-3c4f0000-5237-11e9-84d4-b50f56d9a6c7.png)

[2019-04-01 15:06] JackieBabos commented on #444
Need to take off the colon.
![image](https://user-images.githubusercontent.com/44168600/55338215-6da91500-545d-11e9-816b-1e2f6efff70b.png)

[2019-04-01 15:19] JackieBabos commented on #420
Discussed during the demo we can look into issue #258 to have the owner name populate for partnership and corporation from contact widget.

[2019-04-01 15:34] JackieBabos commented on #438
Remove the first question. So the only question is the "Is this for the whole, or park of the mark?" and radio button "Whole" and "In part"

[2019-04-01 17:42] JackieBabos commented on #339
@l-stanny could you use check boxes instead of the eyes? when there is a check that means the column is visible to the user. and is there a way to keep the ellipsis with the items open until they click out of it. so instead of having to click the ellipsis then click "mark" then have to click the ellipsis again to check "owner", they can click the ellipsis then click "mark" then "owner"

[2019-04-01 17:59] JackieBabos commented on #448
@dutchTender when we implement this. we are going to need to add another line under "upcoming actions due" table with the following.

![image](https://user-images.githubusercontent.com/44168600/55348921-91785500-5475-11e9-9302-36adf782a370.png)

[2019-04-01 18:46] #434 closed

[2019-04-01 19:46] dutchTender commented on #414
we had to update the back end data model for this update. still need to apply this update to trust, estate, joint venture. owner forms

[2019-04-01 20:49] dutchTender commented on #380
we have removed the required asteriks from mark literal field for mark type design with text.

![image](https://user-images.githubusercontent.com/7011252/55358715-0790b200-549e-11e9-8b3a-c1c022dfbf18.png)

[2019-04-02 16:16] l-stanny commented on #352
@serra-trinh @JackieBabos assigning to @dutchTender Link change from 'File a Petition to Revive' to 'Submitted' needs to happen server-side. The link, 'File a Petition to Revive', is in place in GitHub.

[2019-04-02 16:19] l-stanny commented on #339
@JackieBabos @serra-trinh @dutchTender checkboxes are functioning in both Dashboard tables

[2019-04-02 16:22] l-stanny commented on #327
@JackieBabos @serra-trinh 'Upcoming Action Due' edited to 'Upcoming Action(s) Due' and pushed to GitHub, assigning to @dutchTender

[2019-04-02 16:30] l-stanny commented on #166
Completed locally, to update server-ready files

[2019-04-02 17:22] #446 closed

[2019-04-02 17:32] nguyenvivi opened #449 "Name/Portrait/Signature TEAS Plus validation"
![image](https://user-images.githubusercontent.com/46028434/55423311-2dd15300-556d-11e9-9b5b-4b911937a32a.png)

[2019-04-02 17:36] nguyenvivi opened #450 "Name/Portrait/Signature required selection"
![image](https://user-images.githubusercontent.com/46028434/55423593-ba7c1100-556d-11e9-92d5-8206480adb82.png)

[2019-04-02 17:45] nguyenvivi commented on #445
Transliteration issue: This is not correct.  For legal purposes, the statement MUST appear as follows:

and this means [xxxxx] in English.
[xxxx] represents a text box in this scenario.

![image](https://user-images.githubusercontent.com/46028434/55424012-ccaa7f00-556e-11e9-92d1-44d1caafd8f3.png)

[2019-04-02 17:47] nguyenvivi commented on #444
![image](https://user-images.githubusercontent.com/46028434/55424244-52c6c580-556f-11e9-9ae7-7e72131df74c.png)

[2019-04-02 17:52] #442 closed

[2019-04-02 17:58] #441 closed

[2019-04-02 18:07] #439 closed

[2019-04-02 18:08] nguyenvivi opened #451 "Partnership information still in the Review Page after the partnership owner has been removed"
![image](https://user-images.githubusercontent.com/46028434/55425549-3e37fc80-5572-11e9-8656-ace8068bbefc.png)

[2019-04-02 18:10] #433 closed

[2019-04-02 18:16] #431 closed

[2019-04-02 18:27] #420 closed

[2019-04-02 18:29] #419 closed

[2019-04-02 18:35] nguyenvivi commented on #410
We can't test this issue.
![image](https://user-images.githubusercontent.com/46028434/55427228-121e7a80-5576-11e9-9fc4-66c9352f28c4.png)

[2019-04-02 18:39] #408 closed

[2019-04-02 18:42] #404 closed

[2019-04-02 18:44] #177 closed

[2019-04-02 18:45] #334 closed

[2019-04-02 18:46] #388 closed

[2019-04-02 18:53] nguyenvivi commented on #389
Let's discuss this at the eFile mid-week checkpoint meeting tomorrow.

[2019-04-03 18:55] JackieBabos commented on #389
When the User selects "One specimen for all goods/services within this class", then within each individual good or service, the checkbox "Check here to provide a specimen for this individual good/service" should be removed. Since the user uploaded the specimen at the class level.
![image](https://user-images.githubusercontent.com/44168600/55505088-907b2b00-560f-11e9-9b32-24c5d3f2b1a2.png)
![image]

[2019-04-03 19:11] JackieBabos commented on #410
Need to figure out a way to indicate to the user that the document/picture was uploaded. Or informational text indicating that the document/image is available for preview on the next page?

[2019-04-03 19:21] JackieBabos commented on #445
Need to move the text box in between "and this means" and "in English".

[2019-04-03 20:01] dutchTender commented on #443
![image](https://user-images.githubusercontent.com/7011252/55509297-b7def180-5629-11e9-91ce-521f184075ff.png)

[2019-04-04 14:09] dutchTender commented on #422
![image](https://user-images.githubusercontent.com/7011252/55562375-cb3d9b80-56c1-11e9-90a4-c56916d9d22f.png)

[2019-04-05 14:12] JackieBabos opened #452 "Specimen Checkboxes"
When the User selects "One specimen for all goods/services within this class", then within each individual good or service, the checkbox "Check here to provide a specimen for this individual good/service" should be removed. Since the user uploaded the specimen at the class level.
![image](https://user-images.githubusercontent.com/44168600/55633991-be30b300-577a-11e9-9102-4e791d36c047.png)
![image]

[2019-04-05 14:15] JackieBabos commented on #389
Split this issue, the Specimen checkboxes are now Issue #452.

[2019-04-05 21:19] dutchTender commented on #452
![image](https://user-images.githubusercontent.com/7011252/55657049-02e23b80-57c7-11e9-8d21-851744304cb3.png)

[2019-04-05 23:39] dutchTender opened #453 "add foreign registration and application fields to class level"

[2019-04-06 23:51] dutchTender opened #454 "styling issues for add additional info page"
![image](https://user-images.githubusercontent.com/7011252/55676573-5cb93300-58a5-11e9-97f0-8c835f50b5eb.png)

[2019-04-06 23:56] #454 closed

[2019-04-08 17:06] JackieBabos opened #455 "Mark Literal - Remove Asterisk"
I just spoke with Tanya and Matt Schwab.  The Mark literal field is NOT required at the time of filing, NOR is it required for TEAS Plus status, with the exception of a standard character marks.

The legal requirement for the mark (drawing) is for the image, not the literal element.  Please remove the “*” from the mark literal field for all marks types except standard character mark.  Also, please

[2019-04-08 18:16] dutchTender commented on #455
![image](https://user-images.githubusercontent.com/7011252/55746854-d9b0ed80-5a08-11e9-9205-a04356414405.png)
removed asteriks and reduced fee label. still need to remove logic for flagging this field.

[2019-04-08 18:39] #443 closed

[2019-04-08 18:43] dutchTender commented on #451
seems to be a problem with LLC type. I will check this out.

[2019-04-08 18:49] nguyenvivi commented on #424
In this Scenario, we have the attorney representative.  In the original owner page, the email address is not required field, which is correct.  However, in the owner edit page, the email address field is required.
Please remove the "*" from the email field on the owner edit page IF and ONLY IF there is an attorney representative.

![image](https://user-images.githubusercontent.com/46028434/5574848

[2019-04-08 18:54] #422 closed

[2019-04-08 18:57] #228 closed

[2019-04-09 01:29] dutchTender commented on #450
@nguyenvivi my programming tool is flagging the phrase "you must select one option" as a grammar error. this has been changed to "you must select an option".

[2019-04-09 18:14] #409 closed

[2019-04-09 18:23] nguyenvivi commented on #427
We will close this issue as this will be addressed by an issue (number???) that GT will open.

From Albert Young:

I just spoke with Tanya and Matt Schwab.  The Mark literal field is NOT required at the time of filing, NOR is it required for TEAS Plus status, with the exception of a standard character marks.

The legal requirement for the mark (drawing) is for the image, not the literal element.

[2019-04-09 18:27] JackieBabos commented on #427
Will be addressed in Issue #455

[2019-04-09 18:37] nguyenvivi opened #456 "44d and 44e selections are being displayed even when users do not file under 44d nor 44e"
![image](https://user-images.githubusercontent.com/46028434/55825897-61285a80-5af6-11e9-8eef-5f705b17fa63.png)

[2019-04-09 18:38] dutchTender commented on #410
![image](https://user-images.githubusercontent.com/7011252/55826079-2f52cc00-5ad5-11e9-8ea8-76b60d2a5983.png)
pdf support on attorney review page

[2019-04-09 18:41] dutchTender commented on #410
![image](https://user-images.githubusercontent.com/7011252/55826217-85277400-5ad5-11e9-9d23-19581ce26c5a.png)

[2019-04-09 18:50] #444 closed

[2019-04-09 18:52] #445 closed

[2019-04-09 18:57] nguyenvivi commented on #427
Sorry Jackie and Li, what I meant to close is issue #380.

[2019-04-09 18:58] nguyenvivi commented on #380
This issue is closed.  Please see the newly opened issue #445 for the latest requirement.

[2019-04-09 18:58] #380 closed

[2019-04-09 19:03] nguyenvivi commented on #427
We tested this issue for TEAS Plus status and it works for Standard Character, Stylized, and Design with Text.

[2019-04-09 19:03] #427 closed

[2019-04-09 19:04] #389 closed

[2019-04-09 19:34] dutchTender commented on #410
@nguyenvivi it was agreed that the "NEXT" button is to double as submit and next. i mentioned before that this was a bad idea, but your team wanted this and we built it.

[2019-04-09 19:52] nguyenvivi commented on #410
@dutchTender, @serra-trinh, @JackieBabos

I thought we agreed to use PDF file for the prototype.  At least to have it ready for the customer experience.  Let's discuss this at our weekly meeting tomorrow.

Thanks,
V.

[2019-04-09 20:32] dutchTender commented on #456
@nguyenvivi I will address this issue and have it ready for the next demo

[2019-04-09 21:27] dutchTender commented on #410
Vi. We have implemented support for pdf file upload and preview for
attorney bar certificate in addition to support image file types. Also
remember it was agreed that the next screen from the upload would be
attorneys edit page. To show the pdf file preview on attorney creation
success. Where as before we send the use to attorney review page after a
successful attorney creation.
But yeah. We can d

[2019-04-10 20:58] dutchTender commented on #424
this is probabbly the biggest rewrite to date. i am going to list the things that need to change, as contact email is a fundational peiece to the design of the data model.
1. managed contacts ( can not use emails to look up) -
2. attorney and owners (which inherits from managed contacts ...need to not use emails for look up)
3. general partners (needs updated.) those are linked to owners by owner

[2019-04-10 20:59] dutchTender commented on #424
i have no time line for this. as the most difficult part to this would be making sure we are not introducing bugs as how pervasive emails are being used in the application

[2019-04-10 21:00] dutchTender commented on #424
also logic for detecting if an attorney or owner should be created in managed contacts as well, also the managed contacts auto fill functionality needs to be updated as well.

[2019-04-11 00:23] l-stanny commented on #195
Updated local files for Attorney Edit and Owner Edit to compensate for server needs on these two pages. Pushed to GitHub. Updated application files for server (HTML, jQuery, CSS), uploaded to GT OneDrive filename 019_0410_eFile_Reimagined-master.zip
<img width="1367" alt="Screen Shot 2019-04-10 at 8 16 52 PM" src="https://user-images.githubusercontent.com/8275852/55922222-3a3d5780-5bce-11e9-8ecb-5

[2019-04-11 14:31] JackieBabos commented on #410
@dutchTender Add the following language to the checkbox:

**I also certify that the uploaded bar credentials and certificate of good standing are accurate, and agree to upload the certificate once I click "Next."**

@nguyenvivi

[2019-04-11 15:56] dutchTender commented on #410
![image](https://user-images.githubusercontent.com/7011252/55972079-c85a2200-5c50-11e9-84d0-eb64dd282f90.png)

[2019-04-12 14:41] #453 closed

[2019-04-15 15:17] dutchTender commented on #415
the following owner forms need to add required for address country

owner LLC, partnership, limited partnership, trust

[2019-04-15 15:29] dutchTender commented on #405
no longer an issue

[2019-04-15 15:29] #405 closed

[2019-04-15 15:41] #429 closed

[2019-04-15 15:43] dutchTender commented on #397
@JackieBabos @nguyenvivi @serra-trinh this issue is related to #419  and is now resolved.

[2019-04-15 15:43] #397 closed

[2019-04-15 15:43] dutchTender commented on #396
@JackieBabos @nguyenvivi @serra-trinh this issue is related to #419  and is now resolved.

[2019-04-15 15:43] #396 closed

[2019-04-15 16:13] dutchTender commented on #411
@nguyenvivi this functionality is implemented via the "EDIT" functionality from attorney or owner review page. hitting previous in this case is for creating an new attorney, hitting next in this case would be creating another attorney. and system in this case noted that you are trying to create an attorney with the same email.

[2019-04-15 16:13] #411 closed

[2019-04-15 16:15] dutchTender commented on #424
we will open a separate issue for making owner email not a required field.

[2019-04-15 16:32] JackieBabos commented on #447
[Consent_template_Name_Signature.docx](https://github.com/GrantThorntonETSI/eFile_Reimagined/files/3081146/Consent_template_Name_Signature.docx)
[Consent_template_Name_Portrait_Signature.docx](https://github.com/GrantThorntonETSI/eFile_Reimagined/files/3081147/Consent_template_Name_Portrait_Signature.docx)
[Consent_template_Portrait_Signature.docx](https://github.com/GrantThorntonETSI/eFile_Reimag

[2019-04-15 16:48] dutchTender commented on #447
adding these now

[2019-04-15 17:29] dutchTender commented on #447
design only -  can be  "name", "portrait" or "name and portrait".

[2019-04-17 15:08] l-stanny commented on #384
![Screen Shot 2019-04-17 at 11 07 43 AM](https://user-images.githubusercontent.com/8275852/56298968-1d8aad80-6101-11e9-98da-c202b78ba066.png)

[2019-04-18 13:21] #451 closed

[2019-04-18 13:41] keytie commented on #410
![image](https://user-images.githubusercontent.com/45850524/56365063-8e07fc00-61df-11e9-9ba7-b6a9fd8d3021.png)

[2019-04-18 17:10] #450 closed

[2019-04-18 17:23] keytie commented on #449
![image](https://user-images.githubusercontent.com/45850524/56379163-97ed2780-61fe-11e9-9699-33e52bcfc84a.png)

![image](https://user-images.githubusercontent.com/45850524/56379178-a0456280-61fe-11e9-8dca-e4142c28f6e9.png)

[2019-04-18 17:28] #455 closed

[2019-04-18 17:31] #437 closed

[2019-04-18 17:33] #438 closed

[2019-04-18 17:41] #271 closed

[2019-04-18 17:57] keytie opened #457 "Foreign Registration/Application Filing Basis questions not appearing for 1(b) filing basis"
![image](https://user-images.githubusercontent.com/45850524/56380834-bc4b0300-6202-11e9-9e16-907265e13037.png)

![image](https://user-images.githubusercontent.com/45850524/56381040-498e5780-6203-11e9-89b6-f179e3f42d1f.png)

[2019-04-18 18:04] #456 closed

[2019-04-18 18:10] #452 closed

[2019-04-18 18:13] #440 closed

[2019-04-18 18:22] #413 closed

[2019-04-18 18:25] #390 closed

[2019-04-18 18:26] #391 closed

[2019-04-18 18:39] JackieBabos commented on #457
@keytie is this a high priority issue?

[2019-04-18 18:46] keytie commented on #457
@JackieBabos No - since the foreign application scenario is for a 1(a) filing basis only (not 1(b) like this issue). Therefore, this combination of selections should not happen in our testing scenarios.

[2019-04-20 16:34] dutchTender commented on #401
![image](https://user-images.githubusercontent.com/7011252/56459908-917abf00-6368-11e9-83e4-f5dd76dc7656.png)

[2019-04-20 16:34] dutchTender commented on #381
![image](https://user-images.githubusercontent.com/7011252/56459911-a2c3cb80-6368-11e9-98c6-ff35e50bd07a.png)

[2019-04-20 16:38] dutchTender commented on #157
links on registration page now open in a new window.

[2019-04-21 00:54] dutchTender commented on #410
@JackieBabos please open enhancement request for issue #2 here. for issue 1. please open a bug issue for it. i would like to close this ticket as it is becoming extremely difficult to track.

[2019-04-21 00:54] dutchTender commented on #410
@JackieBabos please close this ticket when you have opened the other two tickets.

[2019-04-21 14:29] #192 closed

[2019-04-21 14:31] #298 closed

[2019-04-21 14:32] #241 closed

[2019-04-21 16:31] dutchTender commented on #270
![image](https://user-images.githubusercontent.com/7011252/56472812-690ac780-6431-11e9-8e71-3b7a5fb7cd3d.png)
when only one good and service for a class

[2019-04-22 13:59] JackieBabos opened #458 "Color/Translation/Transliteration Reduced Fee Flagging"
Splitting issue #449, with the information that @keytie posted that needs to be updated in order to close the issue.

![image](https://user-images.githubusercontent.com/44168600/56504013-7200a500-64d4-11e9-894c-8c65d075d432.png)

![image](https://user-images.githubusercontent.com/44168600/56504035-817fee00-64d4-11e9-8b14-702f5ba19c8b.png)

[2019-04-22 14:27] dutchTender commented on #458
the foreign wording is flagged only when you select yes for transliteration, it does not flag it if you do not set that value or answered no. that appears to be the correct logic. the change for issue #458 would be to flag foreign wording even if the user does not answer yes or no for transliteration. which would not even show the foreign wording input

[2019-04-22 15:00] dutchTender commented on #458
after speaking with jackie. logic for this have been updated to so that if transliteration or translation is not set, then no fields from this module is flagged. only if they are set to yes, then the filer must provide foreign wording text.

[2019-04-22 15:37] JackieBabos commented on #458
Need further discussion with the BAs. Mark description is always TEAs Plus required. However, color claim is optional, and in the prototype we have mark description in color claim. So if the user omits answer yes/no to color claim they don't fill in the mark description and will get flagged on the TEAs plus review page.

![image](https://user-images.githubusercontent.com/44168600/56508656-189f7280

[2019-04-22 16:15] JackieBabos commented on #449
The comment above that reopened this issue is now issue #458

[2019-04-22 16:51] JackieBabos commented on #382
@nguyenvivi @keytie What is the priority level on this? Would you like this to be done sooner rather than later, or can it wait?

[2019-04-22 16:53] JackieBabos opened #459 "Attorney Edit Page - Certification Check"
![image](https://user-images.githubusercontent.com/44168600/56512539-e8a99c80-64ec-11e9-8c2c-8863014726f7.png)

[2019-04-22 16:57] JackieBabos opened #460 "Attorney Edit Page - Full Size PDF"
![image](https://user-images.githubusercontent.com/44168600/56512716-6c638900-64ed-11e9-974b-226456e706b4.png)

[2019-04-22 16:57] JackieBabos commented on #410
Split this issue.

The first comment and issue in the above picture, dealing with the certification check, is now issue #459.
The second comment and issue in the above picture, with the pdf full size, is now issue #460

[2019-04-22 18:35] JackieBabos commented on #458
Move "Mark Description" out of the color claim box, and place above color claim and below mark literal.

Then make color claim like translation and transliteration, when the user doesn't select either yes/no on color claim the reduced fee flag will not appear on the TEAs plus review page.

[2019-04-22 18:38] #415 closed

[2019-04-22 19:40] JackieBabos commented on #401
@nguyenvivi @keytie During the demo on 4/22 there were some discussion on this issue, please let us know how we should proceed with this issue (make the information collapsible, remove it, etc.).

[2019-04-22 19:55] #410 closed

[2019-04-23 18:52] dutchTender opened #461 "date validation for foreign registration date and first in use date, and first in commerce date"
1. foreign registration (prevents any future dates)
goods and services level and class level

2. first commerce date and first in use date must be within 6 month of each other (this may be revised later)

[2019-04-24 14:14] dutchTender commented on #458
![image](https://user-images.githubusercontent.com/7011252/56666363-c002dd80-6679-11e9-832c-f0ff531a70d7.png)
moved mark description out of color claim

[2019-04-24 14:59] dutchTender commented on #458
![image](https://user-images.githubusercontent.com/7011252/56669732-9cdb2c80-667f-11e9-8646-8c101240c4a7.png)

[2019-04-24 17:08] dutchTender commented on #458
![image](https://user-images.githubusercontent.com/7011252/56679019-0f550800-6692-11e9-92e6-3fa46f3e5b11.png)
mark type stylized

[2019-04-24 17:19] #449 closed

[2019-04-24 17:24] dutchTender commented on #457
@JackieBabos @keytie this is actually as designed. the original question is actually as follows:
"Yes, the mark is in use for ALL of the goods and services within the class".
"No, the mark is not in use for ALL of the goods and services within the class."

this leaves the room that some of the goods and services are still in use, while they are NOT ALL in use

thus the first question on the 1b for

[2019-04-24 17:26] dutchTender commented on #459
add persistence behavior for check box

[2019-04-24 19:20] dutchTender commented on #459
![image](https://user-images.githubusercontent.com/7011252/56687508-711e6d80-66a4-11e9-8263-fa9b2c8b3993.png)

[2019-04-25 14:13] dutchTender commented on #458
![image](https://user-images.githubusercontent.com/7011252/56742468-cc9f3880-6742-11e9-8d46-5e123c62c375.png)

[2019-04-25 14:13] dutchTender commented on #458
fix this

[2019-04-25 14:16] dutchTender commented on #325
![image](https://user-images.githubusercontent.com/7011252/56742673-2f90cf80-6743-11e9-84ce-d7d0ebe9708a.png)
need java script on edit page to show field.

[2019-04-25 15:17] nguyenvivi commented on #401
Based on a conversation with Tina this morning, the decision was made to remove this message from the owner information module.

[2019-04-25 15:19] JackieBabos commented on #457
@dutchTender even though the user doesnt have the goods and services in use, they still should have the ability to add foreign registration or foreign application.

[2019-04-25 15:19] #195 closed

[2019-04-25 15:20] #166 closed

[2019-04-25 15:21] JackieBabos commented on #401
@dutchTender please remove this message.

[2019-04-25 15:26] #447 closed

[2019-04-25 15:27] #384 closed

[2019-04-25 15:29] #392 closed

[2019-04-25 15:30] #360 closed

[2019-04-25 15:36] #270 closed

[2019-04-25 15:44] nguyenvivi opened #462 "Missing date of uses data field"
Currently the prototype does not list the goods/services within the class when user selects "One specimen for all goods/services within this class"
![image](https://user-images.githubusercontent.com/46028434/56748839-13575780-6770-11e9-85f8-48ec6fae44c1.png)

Even when user selects "One specimen for all goods/services within this class", the system should list the goods/services along with the fir

[2019-04-25 15:45] #307 closed

[2019-04-25 15:47] #157 closed

[2019-04-25 17:18] dutchTender commented on #458
fixed double teas plus labels for mark description.

![image](https://user-images.githubusercontent.com/7011252/56755070-a5edfb80-675c-11e9-92f1-81c7e4eca51d.png)

[2019-04-25 17:48] dutchTender commented on #460
![image](https://user-images.githubusercontent.com/7011252/56756893-d6d02f80-6760-11e9-993f-254d91de4d3b.png)
full size preview

[2019-04-25 17:52] dutchTender commented on #401
removed text form owner start page.

![image](https://user-images.githubusercontent.com/7011252/56757088-607ffd00-6761-11e9-83dd-995d3f749466.png)

[2019-04-25 18:45] dutchTender commented on #462
@nguyenvivi we flag this internally. we implement this feature next

[2019-04-25 20:50] dutchTender commented on #462
![image](https://user-images.githubusercontent.com/7011252/56767626-37b83180-677a-11e9-9166-0a56b4fd0d4b.png)

started it. base html. still need to implement functionality and add persistence behavior.

[2019-04-25 22:47] dutchTender commented on #462
![image](https://user-images.githubusercontent.com/7011252/56773016-748c2480-678a-11e9-9a9c-6f6901c243da.png)
persistence behavior when you come back to this page, and select upload at the goods and services level. it shows the date you selected at the class level from before.

[2019-05-02 14:11] JackieBabos commented on #460
Have the PDF open in a new window or be downloadable. (From demo 5/2)

[2019-05-02 14:14] JackieBabos commented on #395
Remove the red asterisk (Per 5/2 demo)

[2019-05-02 14:26] JackieBabos commented on #462
Need further discussion, as to technical vs functional requirements.

[2019-05-02 14:45] JackieBabos commented on #461
If the date of first use of the Mark in commerce pre-dates the date of first use of the Mark anywhere, the system shall generate an error message.

 "The date of first use in commerce cannot be earlier than the date of first use anywhere."

[2019-05-02 21:48] JackieBabos commented on #395
![image](https://user-images.githubusercontent.com/44168600/57109040-abfe5200-6cf1-11e9-8a4c-9f9ee3d09eaf.png)

[2019-05-02 22:43] JackieBabos commented on #395
@dutchTender looks good for partnership. can you do this for all the entity types, except individual? thanks!

Combining the original comments, here is the requirement:
"State where legally organized" is TEAS Plus required for all Entity Types except "Individual".

[2019-05-03 14:31] #459 closed

[2019-05-03 14:40] #458 closed

[2019-05-03 14:46] #401 closed

[2019-05-03 14:47] #381 closed

[2019-05-03 14:50] #325 closed

[2019-05-03 16:58] JackieBabos opened #463 "Confusing layout upon registration – displaying Account Information with no "Next" button"
1. Change text at the top of the page to "Edit Account Information".
2. Add a "Next" button in the bottom right hand corner of the screen that when clicked will take the user to the dashboard.

[2019-05-03 17:29] JackieBabos opened #464 "Two factor authentication displaying wrong email"
The default email was displaying in the two-factor authentication section, instead of the users.
![image](https://user-images.githubusercontent.com/44168600/57229205-bc088100-6fd2-11e9-9486-470e47ce7215.png)

[2019-05-03 17:31] JackieBabos opened #465 "Not able to create new user on login page (not on home page)"
On this link/sign on https://efile-reimagined.com/login , the "New User?" account creation link did not work.

[2019-05-03 19:08] dutchTender opened #466 "integrate new application review pages with tabs after application have been filed"

[2019-05-07 21:43] dutchTender opened #467 "create account recovery process as per user feed back"

[2019-05-13 19:06] dutchTender opened #468 "petitions rework based on BA's feed back"

[2019-05-14 18:26] #465 closed

[2019-05-14 18:26] #464 closed

[2019-05-15 18:42] #143 closed

[2019-05-15 18:42] #463 closed

[2019-05-15 18:42] #467 closed

[2019-05-22 14:51] JackieBabos opened #469 "Add more data to the users contact lists/No data in manage contacts"
The contacts in the manged contacts were not being saved, so the users had no contacts in their list.

"When entering owner info, selecting from contacts doesn't enter any information. Even with the green check mark no data is available."

[2019-05-22 14:55] JackieBabos commented on #469
This has been resolved.

[2019-05-22 14:58] JackieBabos opened #470 "Return to Application - Error"
Saw the ‘puppies’ image again when I tried to go back to update the required TEAS Plus data fields.

![image](https://user-images.githubusercontent.com/44168600/58185165-bc11ad80-7c6f-11e9-9fe0-eaaedc862bef.png)

[2019-05-24 19:39] dutchTender commented on #470
is this the same issue that Vi had??

[2019-05-24 19:39] dutchTender commented on #469
oh ok. this is probably issues that vi found.

[2019-05-28 13:47] dutchTender commented on #468
1. need feed back from the BA's on if the required actions should also be paged ...just like the options actions.

2. need feed back on the statuses of the revivied filings

3. if the bread crumb idea is a go.

4. add accoridan for all application pages.

5. get some clearification on documents. ....we can start this part

[2019-05-28 13:47] dutchTender commented on #466
get requirement on the documents tab. and what we can start putting there.

[2019-05-29 15:00] JackieBabos commented on #448
Closing this issue. Will create more specific issues as they come up.

[2019-05-29 15:00] #448 closed

[2019-05-29 15:09] JackieBabos opened #471 "Better alert to the customers that this is a Chrome application"

[2019-05-29 15:10] JackieBabos opened #472 "Show selected file, then have the upload button enabled (Upload process more intuitive)"
Suggest   adding "File selected" with the file name extension, and then   upload button becomes enabled (Mark image (ST))

[2019-05-29 15:11] JackieBabos opened #473 "Add guidance for password creation"
Add   standard password creation language used by MyUSPTO - add applicable language   based on the design
--

[2019-05-29 15:11] JackieBabos opened #474 "Signature instructions for the backslashes"
"Recommend adding instructions to "Signature" field so that applicant knows backslashes are required."

Please add an information 'i" with the following information.

To electronically sign the application enter any combination of alpha numeric characters between two forward slash symbols (/); e.g., /jane smith/, /rdr/, or /127/).

[2019-05-29 15:12] JackieBabos opened #475 "Serial number should not be assigned before application is submitted"
"Serial number should not be assigned before application is submitted"

Suggest   changing column heading to Application/Serial number
--

[2019-05-29 15:13] JackieBabos opened #476 "Dates of first use, only allowing one number at the end of each year"
"The question for When did you first use the mark in commerce?  Only allows one number to be listed at the end of the year of mm/dd/yyyy  for example 01/01/0002"

[2019-05-29 15:17] #288 closed

[2019-05-29 15:18] JackieBabos opened #477 "Realignment of specimen boxes"

[2019-05-29 15:30] JackieBabos commented on #473
![image](https://user-images.githubusercontent.com/44168600/58569970-5c2d8080-81f4-11e9-8a1b-793572070afc.png)
 This is MyUSPTO guidance.

[2019-05-29 16:17] JackieBabos commented on #461
The issue the user had when testing this section was the user received the 44d error when she clicked "no" to the "Do you have a registration and/or pending application in a foreign country for same goods/services?". So that error should have never popped up since this error only corresponds to the foreign application filing date.

[2019-05-30 16:35] l-stanny commented on #472
![Screen Shot 2019-05-30 at 12 30 48 PM](https://user-images.githubusercontent.com/8275852/58648163-172e4a80-82d7-11e9-9f96-62e3735601ea.png)
![Screen Shot 2019-05-30 at 12 30 37 PM](https://user-images.githubusercontent.com/8275852/58648166-17c6e100-82d7-11e9-9834-99f18379efd7.png)
![Screen Shot 2019-05-30 at 12 34 16 PM](https://user-images.githubusercontent.com/8275852/58648241-4b097000-82d7-11

[2019-05-30 19:12] dutchTender commented on #476
issue is resolved.

[2019-05-31 17:00] JackieBabos opened #478 "USPTO Standard Character Set link open in a new tab"
When the user clicks the "USPTO Standard Character set" link. Have the link open up in a new tab.

![image](https://user-images.githubusercontent.com/44168600/58721909-4e623180-8393-11e9-81f4-94811afbfdb8.png)

[2019-05-31 17:25] JackieBabos commented on #475
![image](https://user-images.githubusercontent.com/44168600/58723228-c8e08080-8396-11e9-8b1a-2545cec7201e.png)

[2019-06-03 13:30] JackieBabos commented on #473
File create_account.html

[2019-06-03 13:31] JackieBabos commented on #471
File dashboard.html in Internet Explorer

[2019-06-03 14:06] JackieBabos opened #479 "Ability to delete a draft application is missing"

[2019-06-03 14:08] JackieBabos opened #480 "Add Phone Number on Account Creation not working"

[2019-06-03 14:10] JackieBabos opened #481 "Scenario 2 Partner Bug"
"After entering only the partners names for scenario 2, I received 'no message available' at the top and the puppies pardon our dust message." - Comment from the user

BA's Suggestion - "Suggest greying all entity types except individual for the general partners"

[2019-06-03 14:17] JackieBabos opened #482 "Not to put the username in with the reset your password link "
For security purposes, it is probably best  not to put the username in with the reset your password link in the email.

[2019-06-03 14:47] JackieBabos opened #483 "Minimize side margins"

[2019-06-03 14:47] JackieBabos opened #484 "Minimize bottom margin"

[2019-06-03 17:25] JackieBabos opened #485 "Export feature for list of applications on dashboard"

[2019-06-03 17:25] JackieBabos opened #486 "Don’t clear out the textboxes when a user enters wrong login credentials"

[2019-06-03 18:20] dutchTender commented on #482
removed user email text from the pw recovery message.

![image](https://user-images.githubusercontent.com/7011252/58824700-b4a4b980-860a-11e9-98a4-1a1d8f448176.png)

[2019-06-03 18:32] dutchTender commented on #479
add a new column. if filing is in submitted state. can have delete button. other states. this column is blank.

[2019-06-05 16:48] l-stanny commented on #471
Added alert for IE, suggesting Chrome. Now adding alert for anything other than Chrome, suggesting Chrome.

[2019-06-10 14:16] JackieBabos commented on #478
@dutchTender this can also be done for stylized, design only, and design with text

[2019-06-10 15:25] #480 closed

[2019-06-10 15:29] JackieBabos commented on #474
![image](https://user-images.githubusercontent.com/44168600/59206460-31331d00-8b62-11e9-9dc5-324dedbe1f79.png)

[2019-06-12 20:03] #461 closed

[2019-06-12 20:04] #469 closed

[2019-06-12 20:04] #472 closed

[2019-06-12 20:05] #475 closed

[2019-06-12 20:06] #476 closed

[2019-06-12 20:06] #477 closed

[2019-06-13 19:14] JackieBabos opened #487 "Optional Actions for Response to Office Action"
Implementing the Optional actions into the prototype. With breadcrumbs that change the number based on how many optional actions (checkboxes the user selects)
https://preview.uxpin.com/646c2ecbcfb400369217dd7cdd69a4ab19148f3f#/pages/110761254/simulate/sitemap?mode=i

[2019-06-18 15:12] keytie commented on #473
![2019-06-18_11-11-25](https://user-images.githubusercontent.com/45850524/59696412-eea0be80-91b9-11e9-8187-76614addc20e.png)
 This message should also be on the password reset page.

[2019-06-18 15:14] #486 closed

[2019-06-18 15:14] #482 closed

[2019-06-18 15:17] #481 closed

[2019-06-18 15:19] #479 closed

[2019-06-18 15:20] #478 closed

[2019-06-18 15:24] #474 closed

[2019-06-18 17:29] dutchTender commented on #473
got it. i will make that update.

On Tue, Jun 18, 2019 at 11:12 AM keytie <notifications@github.com> wrote:

[2019-07-03 22:19] l-stanny commented on #460
Currently, in the local files, a PDF can be downloaded from the File Upload Component by clicking on the underlined filename:
<img width="794" alt="Screen Shot 2019-07-03 at 6 18 34 PM" src="https://user-images.githubusercontent.com/8275852/60628345-13eb1a80-9dbf-11e9-81b6-e741b9cafc74.png">

[2019-07-10 18:08] nicksummersadta opened #488 "Typo in Color Claim"
Under the "Color Claim" section, if you click yes and it prompts you to list the colors, there is a small type. It currently says "List ony the color(s)..." rather than "List only..."

[2019-07-10 18:15] nicksummersadta opened #489 "PDF File Upload Time"
PDF files take a long time to upload.  Cancelled after waiting for 5 mins and 30 seconds.

[2019-07-10 18:19] nicksummersadta opened #490 "Selecting Signature Method Not Required"
On the signature screen, you can move forward to the payment screen without selecting how you will sign. You can leave the drop-down on "select signature method."

[2019-07-10 18:21] nicksummersadta opened #491 "Close contact widget when contact is selected"
Have  contact widget close automatically when you have selected your contact instead of staying open and having to click the arrow. If that is not possible, suggest adding an "x" mark at the top right hand corner instead.

[2019-07-10 18:22] nicksummersadta opened #492 "Previous Button Brings Back Deleted Text"
When I type in my mark literal characters and delete all of them, I am able to move forward in the application.  But when I hit Previous, the text that I had deleted shows up.  Suggest implementing an error message preventing the user from moving forward 'Please enter your Mark Literal content." or something to that effect.

[2019-07-10 18:23] nicksummersadta opened #493 "Click off of text field before "Next" is enabled"
If   possible, enable Next button without having to click outside of the last   required field.

[2019-07-10 19:17] nicksummersadta opened #494 "Split Screen Hides Scroll Bar Content"
If the screen is collapsed, you cannot see everything even with the scroll bar.

[2019-07-10 19:26] nicksummersadta opened #495 "Non-Maximized Screen Hides Scoll Bar Content"
Could not select Country/Territory when Chrome window was not maximized. The selection box was not responsive.

[2019-07-10 19:26] nicksummersadta opened #496 "Close Old Tab Before Requesting Check Email"
Close the old tab out requesting we check our email

[2019-07-10 19:27] nicksummersadta opened #497 "Add document upload instructions text"
Add document upload "instructions" to be consistent with previous document up loaders that list the types of documents you can upload there. 

![image](https://user-images.githubusercontent.com/44168600/61225942-d0f24680-a6de-11e9-849b-02f05d7a5c5b.png)

[2019-07-10 19:35] nicksummersadta opened #498 ""Contacts" widget appearance/Unintuitive Functionality"
Comments on the contacts widget: 1) Looks strange or like it's broken (functionality is fine)

[2019-07-10 19:36] nicksummersadta opened #499 "Change dropdown/"x" position"
Once you have a draft application in the filings box, suggest switching the the drop down arrow and "x" mark or putting the "x" mark outside of the cell.

[2019-07-10 19:37] nicksummersadta opened #500 "Text Box Can be Reshaped by User"
On the bottom right hand corner of the text field after 'Provide the additional information,' you can drag and reshape the text box. 

[2019-07-10 19:38] nicksummersadta commented on #500
Expanding text boxes

[2019-07-10 19:39] nicksummersadta opened #501 "Improve 'new application' button"
Make the New Application button bigger/more visible and potentially change it to 'Create New Application' to make it easier for the user to know where to start.

[2019-07-10 19:39] nicksummersadta opened #502 "Stack boxes on dashboard vertically"
Break the page up into Filings and Upcoming Actions stacked   horizontally on top of the other.  Announcements is fine on the right side.  If you're logging in for the first time, it can be confusing and distract from what you came here to do (create a new application)

[2019-07-10 19:40] nicksummersadta opened #503 "Oxford Commas"
"Enter the word(s), letter(s), and/or numbers..."- Suggest using oxford commas throughout application.

[2019-07-10 19:41] nicksummersadta opened #504 "Attorney | "Previous" Button Issue"
Just found out I can bypass required fields when a contact is already added. I would state this somewhere. I keep entering the same information and get an error that says I cannot proceed.

[2019-07-10 19:42] nicksummersadta opened #505 "Moving "x" button to right corner"
Suggest looking into putting an x icon on the top right side of areas in the   application where it makes sense (consistent with most other digital   applications)

[2019-07-10 19:42] nicksummersadta opened #506 "Date Picker Move Forward Years"
Add the option to go back or forward by year as well as month in the date field

[2019-07-10 19:43] nicksummersadta opened #507 "Redundant Upload Button"
I think it's slightly unintuitive to have to select a file to upload (for the   mark and specimen) and then also click the large "Upload" button,   instead of the file being uploaded automatically after being selected. Maybe   some simplification/additional instruction would be helpful to make sure   people don't wait forever thinking their file is still uploading.

[2019-07-10 19:44] nicksummersadta opened #508 "Reduced Fee Mode Initially On"
Users would want to activate reduced fee mode. Should consider making that the default setting.

[2019-07-10 19:45] nicksummersadta opened #509 "Fee drop down is distracting"
Is it possible to make the fee drop down at the top right corner to only show up if   there is a new fee added or if the user specifically clicks on it? It appears every time you click Next and disappears when you start typing which can be distracting.

[2019-07-11 14:10] JackieBabos commented on #471
Place the warning on the main landing page as well.

[2019-07-11 17:54] JackieBabos opened #510 "Optional Action - Spacing"
Is there a way to make "Add, change or withdraw any of the following" be aligned with the text from the above four checkboxes? Like remove the spacing before that line.

![image](https://user-images.githubusercontent.com/44168600/61073365-7c935200-a3d2-11e9-9975-383485af4f70.png)

[2019-07-11 18:16] JackieBabos opened #511 "Optional Action - Filing Basis"
1) Remove the good/services from the blue bar for now, since we have them below individually broken out.
2) Gray out the buttons that are highlighted, since a user is not allowed to change their filing basis in this section.

![image](https://user-images.githubusercontent.com/44168600/61074755-ab5ef780-a3d5-11e9-84f7-76d9e63f03a9.png)

[2019-07-15 14:57] JackieBabos commented on #497
-Trademark Details: Design
-Trademark Details: Design with text
-Trademark Details: Stylized
-Trademark Details: Stylized -> name, portrait, signature -> upload consent
-Filing Basis (when mark is currently in use is selected)
-Filing Basis -> Foreign Registration Certificate
-Additional Information: Optional Upload
-Claim of Acquired Distinctiveness (when yes/whole/distinctive are all selected)
-

[2019-07-16 15:03] nicksummersadta commented on #496
Backlog?  Will verify during Wed meeting (GT)

[2019-07-16 16:45] nicksummersadta commented on #491
Lynn will look into this

[2019-07-16 16:48] nicksummersadta commented on #492
Removing required fields on Mark Literal causes issues with bread crumbs

[2019-07-16 16:48] nicksummersadta commented on #493
This issue requires additional research.

[2019-07-16 16:49] nicksummersadta commented on #498
Lynn will look into this

[2019-07-16 16:52] nicksummersadta commented on #499
Create pop-up asking user if they want to delete draft application (Lynn)

[2019-07-16 16:52] nicksummersadta commented on #500
Lynn will disable adjustment functionality, only use scroll bar

[2019-07-16 16:53] nicksummersadta commented on #503
Lynn to edit in application

[2019-07-16 16:55] nicksummersadta commented on #504
Demo Optional Action attorney page and verify flow is ok to implement in Phase I

[2019-07-16 16:55] nicksummersadta commented on #505
Backlog

[2019-07-16 16:58] nicksummersadta commented on #506
Lynn to create 2-3 options for team to choose

[2019-07-16 16:59] nicksummersadta commented on #509
Potential Backlog. Will verify during Wednesday meeting (GT)

[2019-07-17 14:24] JackieBabos opened #512 "Optional Action - Amend Mark for Standard Character"
Update the amend mark page, to show standard character.

@dutchTender hold off on this, I'm going to ask the BA's about this. Because I think the user can only update the image of the mark to a better quality or minor changes. But if the user changes the standard character, they're completely changing their mark. What may happen is we just show the standard character, but the user cant change it.

[2019-07-17 17:03] JackieBabos opened #513 "Contacts Widget - 'Add' button is cut off"
Fix the contacts widget to not have the add button be cut off.

![image](https://user-images.githubusercontent.com/44168600/61395364-84477080-a882-11e9-8701-1d522aaec4e5.png)

[2019-07-18 17:09] keytie commented on #490
The next button will not be enabled until a user makes a selection.

[2019-07-18 17:09] #490 closed

[2019-07-18 17:09] keytie commented on #488
Typo was fixed

[2019-07-18 17:09] #488 closed

[2019-07-18 17:23] keytie commented on #489
Going to limit file types and add acceptable file type language to each file upload to address this issue.

[2019-07-18 17:23] #489 closed

[2019-07-23 17:36] l-stanny commented on #499
This was completed in local files and committed to GitHub on 7/17/2019.

[2019-07-23 17:38] l-stanny commented on #497
@serra-trinh @JackieBabos This was completed and local files and committed to GitHub on 7/19/2019.

[2019-07-23 17:40] l-stanny commented on #513
@serra-trinh @JackieBabos @dutchTender This was completed and merged into the application files on 7/23/2019.

[2019-07-23 20:41] l-stanny commented on #495
@serra-trinh @JackieBabos @dutchTender This issue has been resolved and merged into the application in GitHub.

[2019-07-24 17:42] l-stanny commented on #494
@serra-trinh @JackieBabos @dutchTender Fixed in application and merged in GitHub 7/24/2019.
![Screen Shot 2019-07-24 at 1 15 05 PM](https://user-images.githubusercontent.com/8275852/61814828-ee2dc000-ae16-11e9-868d-0807c49485cb.png)

[2019-07-24 23:04] l-stanny commented on #500
This has been updated locally. Updating in application.
![Screen Shot 2019-07-24 at 7 03 41 PM](https://user-images.githubusercontent.com/8275852/61834407-d6216500-ae45-11e9-9c65-9c7567cd5ba7.png)

[2019-07-25 00:12] l-stanny commented on #500
@serra-trinh @JackieBabos @dutchTender This has been completed using Maven for merging into the application.
![Screen Shot 2019-07-24 at 8 10 30 PM](https://user-images.githubusercontent.com/8275852/61836677-45e81d80-ae4f-11e9-872c-9f9933b4d951.png)

[2019-07-25 14:43] l-stanny commented on #502
Mocking up.

[2019-07-29 15:09] JackieBabos opened #521 "Add Informational Text for the Reduced Fee Mode"
Need to add informational text for what the reduced fee mode is.

[2019-07-29 16:16] JackieBabos commented on #506
Showed option to BAs.

[2019-07-29 17:04] keytie commented on #521
Receive a lower application fee when all fields marked with the reduced fee indicator are completed.

[2019-07-29 17:27] JackieBabos commented on #521
@l-stanny Please use the message that keyte posted above as the informational message.

[2019-07-30 15:03] #513 closed

[2019-07-30 15:05] #491 closed

[2019-07-30 15:06] #498 closed

[2019-07-30 15:06] #508 closed

[2019-07-30 15:08] #494 closed

[2019-07-30 15:09] #495 closed

[2019-07-30 15:14] keytie commented on #500
example - Mark Description Box

[2019-07-30 15:14] #500 closed

[2019-07-30 15:14] #497 closed

[2019-07-30 15:17] #503 closed

[2019-07-30 15:17] #471 closed

[2019-07-31 19:42] l-stanny commented on #506
@serra-trinh @dutchTender @JackieBabos Implemented across local files and committed 7/31/2019.

[2019-08-06 17:15] l-stanny commented on #521
Implemented in local files 8/6/2019.
<img width="504" alt="Screen Shot 2019-08-05 at 2 22 07 PM" src="https://user-images.githubusercontent.com/8275852/62560984-2fc55e80-b84c-11e9-9ef2-4976e1150a71.png">
<img width="472" alt="Screen Shot 2019-08-05 at 2 22 03 PM" src="https://user-images.githubusercontent.com/8275852/62560986-305df500-b84c-11e9-9674-a32a09356758.png">

[2019-08-06 17:17] l-stanny commented on #502
Implemented in local files 7/30/2019
![Screen Shot 2019-07-30 at 3 47 44 PM](https://user-images.githubusercontent.com/8275852/62561112-7dda6200-b84c-11e9-91b6-73e67fc680d0.png)
![Screen Shot 2019-07-30 at 3 45 40 PM](https://user-images.githubusercontent.com/8275852/62561113-7e72f880-b84c-11e9-958d-9ce69e8658dd.png)

[2019-08-06 17:18] l-stanny commented on #501
Implemented in local files 7/30/2019.
![Screen Shot 2019-07-30 at 3 47 44 PM](https://user-images.githubusercontent.com/8275852/62561189-9b0f3080-b84c-11e9-9d8d-0efd0d900eb8.png)
![Screen Shot 2019-07-30 at 3 45 40 PM](https://user-images.githubusercontent.com/8275852/62561193-9ba7c700-b84c-11e9-81cd-6ac9fc3d22ed.png)

[2019-08-06 17:23] l-stanny commented on #499
Implemented in Maven package and committed to GitHub 7/30/2019. This has been merged into the application.

[2019-08-12 14:28] JackieBabos opened #529 "Petition to Revive Office Action - Receive OA? "Yes" workflow"
When the user clicks "Yes" to "Did you receive the Office Action" the user will still fill out the Office Action. See the workflow below, it will be the orange line/box.

![image](https://user-images.githubusercontent.com/44168600/62870700-4bf74e80-bcd7-11e9-80be-cc6e2748dd25.png)

[2019-08-14 13:11] JackieBabos commented on #501
Move back to the upper right hand side of the "Filing Table". @l-stanny

[2019-08-15 14:37] #521 closed

[2019-08-15 14:41] #506 closed

[2019-08-15 14:44] keytie commented on #502
This is not in the test environment, so cannot test or close.

[2019-08-15 14:58] JackieBabos commented on #502
@keytie I messaged Li, your stage server is now up to date.

[2019-08-15 15:47] #502 closed

[2019-08-15 19:12] #473 closed

[2019-08-19 13:40] JackieBabos opened #534 "SOU Petition Status"
For when the Notice of Allowance expires and the user doesn't complete it in time, the status should be "Abandoned - No Statement of Use Filed"

![image](https://user-images.githubusercontent.com/44168600/63270047-96874680-c254-11e9-95f7-ae4037eadc7b.png)

[2019-08-20 14:31] JackieBabos opened #535 "Post Reg Status"
The status is will be "Registered" and then the action will be "File Section 8 Declaration"

[2019-08-21 03:37] JackieBabos opened #539 "Application Data Drop down on SOU and Post Reg"
On the SOU Petition and Post Registration Page the "Application Data" dropdown at the top of the page should display the application data.

![image](https://user-images.githubusercontent.com/44168600/63400714-07804880-c392-11e9-9e5b-67accde0279d.png)

![image](https://user-images.githubusercontent.com/44168600/63400743-24b51700-c392-11e9-9fc1-fc8c5d121702.png)

[2019-08-21 03:50] JackieBabos opened #540 "Application Data/Document View - Add Optional Actions"
Replace the "Action Examples" under Optional Actions on the Application view page with the text from the file **application_view**

Replace
![image](https://user-images.githubusercontent.com/44168600/63401424-6cd53900-c394-11e9-8b3e-c5650b53fd48.png)

With
![image](https://user-images.githubusercontent.com/44168600/63401471-90987f00-c394-11e9-8b9b-6d736a806988.png)

[2019-08-21 13:32] JackieBabos opened #541 "SOU Upload"
The upload in the Statement of Use is not working.

![image](https://user-images.githubusercontent.com/44168600/63436375-cf0a5a00-c3e5-11e9-8782-7981ac31be0b.png)

[2019-08-23 14:07] JackieBabos opened #546 "Update Post Reg Optional Actions Page"
Have the actions for the Post Reg Optional Actions to match the file *Post_Reg_Optional*

![image](https://user-images.githubusercontent.com/44168600/63598556-0c552000-c57d-11e9-9719-a3e96e40d5cd.png)

[2019-08-26 03:13] dutchTender commented on #546
jackie. this have been updated and is now on the stage server

On Fri, Aug 23, 2019 at 10:07 AM JackieBabos <notifications@github.com>
wrote:

[2019-08-26 13:51] #546 closed

[2019-08-26 14:50] JackieBabos opened #549 "Registration Number on Upcoming Actions Due table"
The registration number that appears on the 'Filing' table should also appear on the "Upcoming Action Due" table. (Yellow Highlight)

![image](https://user-images.githubusercontent.com/44168600/63699637-77e9f800-c7de-11e9-92e6-4099e41eeae2.png)

[2019-09-04 13:09] JackieBabos opened #560 "Actions in black bar should be the same as optional actions"
Have a drop down in the "Actions" tab should be the same as the Optional Actions on the Application View page.

![image](https://user-images.githubusercontent.com/44168600/64257566-cedc8500-cee2-11e9-854c-07f07b7f6fc1.png)

![image](https://user-images.githubusercontent.com/44168600/64257615-e74c9f80-cee2-11e9-82de-e0509a8296de.png)

[2019-09-05 14:02] dutchTender commented on #549
i believe this is done

[2019-09-05 14:21] JackieBabos opened #561 "Trust - Add Partner not working"
Check to see what the issue is with the "Add Partner" not working on the Trust entity.

![image](https://user-images.githubusercontent.com/44168600/64350559-197b0180-cfb6-11e9-8be6-379c7125fdc6.png)

[2019-09-05 14:46] JackieBabos commented on #540
This has been completed.

[2019-09-05 15:00] JackieBabos commented on #560
Would need to have another page for the user to select the specific filing that they would like the global action to affect.

[2019-09-05 15:35] dutchTender commented on #561
added fix and pushed to stage server

[2019-09-05 15:35] dutchTender commented on #541
i believe this is done as well.

[2019-09-05 16:55] dutchTender commented on #539
this is done. will update stage server soon.

[2019-09-06 16:46] dutchTender commented on #561
added fix and updated the stage server

[2019-09-06 16:46] dutchTender commented on #535
i believe this is done. should be on the stage server

[2019-09-11 13:13] JackieBabos commented on #560
Have Lynn mock up the docket.

[2019-09-11 14:50] JackieBabos commented on #529
When user clicks **yes** to "Did you receive the office action", they will sign the petition, then complete the office action.

When the user clicks **no** to "Did you receive the office action", they will get another question asking if they would like to "Submit a response to the office action".

If they click **yes** to "Submit a response to the office action",they will sign the petition, then c

[2019-09-11 17:31] keytie opened #562 "No way to add 1(a) and 1(b) when selecting how to provide the Specimen"
Whether providing a Specimen at the class or good level, the user needs to indicate if which goods are in use and which goods are not.
![image](https://user-images.githubusercontent.com/45850524/64720207-e47c1c80-d497-11e9-919a-ca7b80e08dc6.png)

![image](https://user-images.githubusercontent.com/45850524/64720442-74ba6180-d498-11e9-9f7a-c4806a53f2ba.png)

[2019-09-11 17:47] keytie opened #563 "Incorrect Status for SOU - Abandoned - Failure to File Timely SOU or Extension Request"
The status description should be updated as follows (This is for scenario 1):

![image](https://user-images.githubusercontent.com/45850524/64721502-9f0d1e80-d49a-11e9-85dc-562502e36c4d.png)

[2019-09-11 17:53] keytie opened #564 "Petition to Revive Abandoned Application - Failure to File Timely SOU, signature disappears"
On Petition to Revive Abandoned Application - Failure to File Timely Statement of Use or Extension Request, when answering the below question, the signature information disappears and is deleted.  The user then has to go back and sign again in order to proceed.

![image](https://user-images.githubusercontent.com/45850524/64721857-4db15f00-d49b-11e9-8379-82c41a10e731.png)

[2019-09-11 17:57] keytie opened #565 "SOU - Unable to Edit Goods"
Cannot edit the goods in the SOU, when Edit is selected
![image](https://user-images.githubusercontent.com/45850524/64722171-eea01a00-d49b-11e9-9f3c-be9fee3cd2d0.png)

[2019-09-11 18:01] keytie commented on #565
Closing this issue.  We talked it through and assume the edit is the default and the information is in 'edit' mode.

[2019-09-11 18:01] #565 closed

[2019-09-11 19:30] dutchTender commented on #563
let me check it out. i thought we fixed this.

On Wed, Sep 11, 2019 at 2:31 PM keytie <notifications@github.com> wrote:

[2019-09-12 17:51] keytie opened #566 "Post Registration Action is incorrect"
![image](https://user-images.githubusercontent.com/45850524/64807965-4c983480-d564-11e9-8a4e-6f97d710f84b.png)

[2019-09-12 18:22] keytie opened #567 "Post Registration - Section 8 - Shows Office Action instead of Section 8 - can't proceed"
Testing Scenario 2 - Post Registration:
I get this Action (should be File Section 8 Declaration)
![image](https://user-images.githubusercontent.com/45850524/64809902-3be9bd80-d568-11e9-9d32-7de732b8b5a8.png)

I click the Action and I get this page, where there is nothing to do (I can't proceed) - and I can't file the Section 8.
![image](https://user-images.githubusercontent.com/45850524/64810028-8

[2019-09-12 18:25] keytie opened #568 "Home Page - Empty column in Application/Registration table"
There is an empty column in the application/registration widget.
![image](https://user-images.githubusercontent.com/45850524/64810318-2923b880-d569-11e9-82cf-36bbaa986391.png)

[2019-09-12 18:50] keytie opened #569 "Foreign Registration Expiration Date - Error - attempted foreign registration date is in the future"
When completing scenario 3, I put i have a current foreign registration.
I then put in Foreign registration date of 2016, with no problem
I then put Foreign registration expiration date of 2026, and I got the below error.  The expiration date MUST be in the future.  I should not receive an error.
![image](https://user-images.githubusercontent.com/45850524/64812140-a3097100-d56c-11e9-9396-89994bd41

[2019-09-12 18:57] keytie opened #570 "Filing Basis - Foreign registration expiration date calendar populates date in Foreign registration date"
Filing Basis - Foreign Registration
Using the calendar for the Foreign registration expiration date field, populates the date in the Foreign registration date field
![image](https://user-images.githubusercontent.com/45850524/64812478-4ce8fd80-d56d-11e9-80da-8a29b7bbec23.png)

[2019-09-12 19:04] keytie opened #571 "Filing Basis - Foreign Registration Expiration Date in the past - no error"
I was able to add a foreign registration date in the past.  This date MUST be in the future.  I should throw an error.

![image](https://user-images.githubusercontent.com/45850524/64813084-8e2ddd00-d56e-11e9-993b-7a69719998f3.png)

[2019-09-12 19:18] keytie opened #572 "Petition Signature - Required fields are not indicated with an asterisk"
Required signature fields are not marked as required on the petition signature, as it is for other signature fields.

![image](https://user-images.githubusercontent.com/45850524/64813835-46a85080-d570-11e9-8fc8-984b52e8f4be.png)

[2019-09-13 16:06] keytie opened #573 "View Office Action link opens the puppies page"
When clicking on the office action link, we receive the puppies page.  There should be at least a mocked up OA page we can link to.
![OfficeActionPuppies](https://user-images.githubusercontent.com/45850524/64877162-d1e01f80-d61e-11e9-8af8-f20dee709947.png)

[2019-09-13 16:51] dutchTender commented on #573
sorry. this needs to be redesigned. this link isn't really suppose to do
anything. we should disable it. we are currently on the office action page.
so a link to itself on the page is not necessary.

On Fri, Sep 13, 2019 at 12:06 PM keytie <notifications@github.com> wrote:

[2019-09-13 16:52] dutchTender commented on #568
this is probably needs to be redesigned. this is the column for the delete
button for none submitted filings.

On Thu, Sep 12, 2019 at 2:25 PM keytie <notifications@github.com> wrote:

[2019-09-13 17:02] keytie commented on #573
The link should open the actual office action the customer received from USPTO.  Since we can't really implement that, we would just need to add a static page with a mocked up office action.
See the link in UXPin - There is one here:
https://preview.uxpin.com/646c2ecbcfb400369217dd7cdd69a4ab19148f3f#/pages/96886697/simulate/sitemap

[2019-09-13 17:04] keytie commented on #568
How about adding a column header to make it clear for now?
'Delete Draft'

[2019-09-13 17:07] dutchTender commented on #568
Sounds like a good idea. I ll tell Jackie.

On Fri, Sep 13, 2019 at 1:04 PM keytie <notifications@github.com> wrote:

[2019-09-13 17:21] JackieBabos commented on #568
I agree. @dutchTender are you going to make this change or do we need to have lynn?

[2019-09-16 01:21] #540 closed

[2019-09-16 01:44] JackieBabos commented on #563
![image](https://user-images.githubusercontent.com/44168600/64930803-3a7ef600-d7f1-11e9-9d63-36a8af28f960.png)

[2019-09-16 01:45] #549 closed

[2019-09-16 01:48] JackieBabos commented on #535
Closing this one since the BAs opened issue #566

[2019-09-16 01:48] #535 closed

[2019-09-16 01:52] JackieBabos commented on #566
@dutchTender  the status and action title for post reg (screenshot below) is still incorrect.  The *status* needs to be "Registered" and the *action* needs to be "File Section 8 Declaration"

![image](https://user-images.githubusercontent.com/44168600/64930972-5931bc80-d7f2-11e9-8b2f-2e24e9541bd7.png)

[2019-09-16 01:54] JackieBabos commented on #573
@dutchTender do you need to have lynn work on this issue?

[2019-09-16 01:58] JackieBabos commented on #572
Need to add the asterisks to the following fields.
![image](https://user-images.githubusercontent.com/44168600/64931057-32c05100-d7f3-11e9-9b6b-9cd2cc43f37e.png)

[2019-09-16 15:40] dutchTender commented on #567
issue fixed. updating servers very soon.

[2019-09-16 19:35] dutchTender commented on #566
ok. working on it,

[2019-09-17 14:07] JackieBabos opened #574 "Section 15 - Select All Button only working"
The class and individual good/service check boxes are not working, only the select all check box.

![image](https://user-images.githubusercontent.com/44168600/65048888-17a02f00-d922-11e9-8222-0cfae9a2605d.png)

[2019-09-17 18:14] dutchTender commented on #573
@JackieBabos i can do this one.

[2019-09-17 18:31] dutchTender commented on #572
I will get this today.

[2019-09-17 18:53] dutchTender commented on #569
@JackieBabos can you check the requirements again? the language here used is very specific and was given from the BA team. i checked the application, the functionality is behaving as implemented. so does this mean we had this part wrong the entire time?

[2019-09-17 19:42] dutchTender commented on #567
seeing the same behavior in some cases for SOU petition

[2019-09-18 03:02] JackieBabos commented on #566
![image](https://user-images.githubusercontent.com/44168600/65104391-85824000-d98e-11e9-9507-639302164c15.png)

[2019-09-18 03:06] JackieBabos commented on #541
![image](https://user-images.githubusercontent.com/44168600/65104529-ee69b800-d98e-11e9-9747-c377ee0d2d0a.png)

[2019-09-18 03:11] #539 closed

[2019-09-18 03:18] JackieBabos commented on #572
Looks good on SOU Petition,  Post Reg, and Office action petition.

[2019-09-18 21:06] JackieBabos commented on #568
![image](https://user-images.githubusercontent.com/44168600/65185958-dabd6080-da25-11e9-9ccf-869d0a2f9d5d.png)

[2019-09-19 13:58] JackieBabos commented on #512
Just hold off on this one.

[2019-09-19 14:17] JackieBabos commented on #487
Completed.

[2019-09-19 14:17] #487 closed

[2019-09-19 14:18] JackieBabos commented on #468
Completed.

[2019-09-19 14:18] #468 closed

[2019-09-19 14:30] JackieBabos commented on #194
![image](https://user-images.githubusercontent.com/44168600/65253359-c164f480-dab7-11e9-9388-7d3654f83310.png)

This has been completed.

[2019-09-19 14:30] #194 closed

[2019-09-19 14:42] JackieBabos commented on #470
No longer an issue.

[2019-09-19 14:42] #470 closed

[2019-09-19 14:43] JackieBabos commented on #163
All are completed in this list, besides #166, but that was completed in its own issue.

[2019-09-19 14:43] #163 closed

[2019-09-19 14:45] JackieBabos commented on #501
Completed.

[2019-09-19 14:45] #501 closed

[2019-09-19 14:46] JackieBabos commented on #466
Completed.

[2019-09-19 14:46] #466 closed

[2019-09-19 14:59] JackieBabos commented on #193
![image](https://user-images.githubusercontent.com/44168600/65255801-c0ce5d00-dabb-11e9-8b7c-66d08653043b.png)

This issue was resolved when we made the upload instructions consistent throughout the application.

[2019-09-19 15:00] #193 closed

[2019-09-19 16:19] dutchTender commented on #512
ok, sounds good.

On Thu, Sep 19, 2019 at 9:58 AM JackieBabos <notifications@github.com>
wrote:

[2019-09-20 17:46] JackieBabos opened #576 "Fling basis abde local files is not populating the date fields for gs level"
@dutchTender mentioned:

"in the local files. only date fields work is the first gs
the second gs does not have the date fields working"

"the gs level date fields for registration
none of them are putting the dates in the date pickers when selecting it
but the value is there
just not showing
cause the application version
even you don't see the dates
on page revisit
the correct date is saved there

[2019-09-23 11:42] #567 closed

[2019-09-23 11:42] #566 closed

[2019-09-23 12:11] #541 closed

[2019-09-23 12:11] #572 closed

[2019-09-23 12:12] #563 closed

[2019-09-23 12:12] #529 closed